In [23]:
import numpy as np
import pandas as pd
from timeit import default_timer as timer
from datetime import timedelta
from concurrent.futures import ThreadPoolExecutor
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
import gensim
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
import scipy

movies = pd.read_csv('movie_archive\movies_metadata.csv')
ratings_small = pd.read_csv('movie_archive\\ratings_small.csv')
links_small = pd.read_csv('movie_archive\links_small.csv')

C:\Users\Admin\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [24]:
movie_texts = movies['overview'].apply(str).to_list()
movie_titles = movies['title'].apply(str).to_list()
text_tokens = []
for i in range(len(movie_texts)):
    if movie_titles[i] != 'nan' and movie_texts[i] != 'nan':
        text = movie_titles[i] + " " + movie_texts[i]
        text_tokens.append(gensim.utils.simple_preprocess(text))

tagged_text = [TaggedDocument(t, [i]) for i, t in enumerate(text_tokens)]

In [22]:
#movies.astype({'id': 'int64'}).dtypes
movie_id_list = movies['id'].to_list()

for i in movie_id_list:
    try: 
        i = int(i)
    except ValueError:
        print(i)
        movies[movies.id != i]

1997-08-20
2012-09-29
2014-01-01

In [25]:
model = gensim.models.doc2vec.Doc2Vec(vector_size=500, min_count=2, epochs=10)

model.build_vocab(tagged_text)

In [26]:
model.train(tagged_text, total_examples=model.corpus_count, epochs=model.epochs)

In [49]:
model.corpus_total_words

2494618

In [27]:
vecs = model.dv

In [51]:
print(vecs[1])

[-6.68990687e-02  6.34198934e-02  3.33163217e-02  4.57815304e-02
  8.38684756e-03 -3.48153786e-04  5.59236482e-02  5.33018708e-02
 -1.55969141e-02 -3.72254439e-02  2.49634124e-02 -3.78901660e-02
 -1.60023551e-02 -2.78191287e-02 -7.09323352e-03  2.07181759e-02
 -1.52211851e-02  1.25814800e-03 -8.63052346e-03  1.59456596e-01
 -1.88196748e-02 -3.27748135e-02  8.94453898e-02 -6.93789348e-02
 -1.25641711e-02  4.26690169e-02  1.43227857e-02  9.86306090e-03
 -4.25450541e-02  3.70595418e-02  6.87369984e-03  5.10605164e-02
 -2.67784428e-02 -2.63541397e-02 -8.14803783e-03 -4.56207758e-03
 -6.65566176e-02 -4.64985631e-02 -1.56390145e-02 -2.95166038e-02
 -3.66968510e-04  3.04952525e-02  7.05199167e-02 -3.72771639e-04
 -6.43827673e-03  4.53803465e-02 -3.32962698e-03  1.76628735e-02
 -3.47177275e-02 -3.88665944e-02 -1.09650828e-02 -3.76111418e-02
  2.49760654e-02 -8.57616886e-02 -4.02323045e-02 -6.13580830e-03
  9.20314789e-02  3.32038775e-02  7.17262849e-02  3.66701297e-02
 -4.58420394e-03  5.31957857e-02  3.64721077e-03  2.39963625e-02
 -5.29351644e-02  8.08722377e-02 -3.88087030e-03  8.99652839e-02
  3.11631002e-02 -3.19022201e-02 -2.61815861e-02  3.65821980e-02
 -4.38809767e-02  4.25580107e-02  2.45631225e-02  2.39768755e-02
 -2.03186590e-02 -1.73590258e-02 -2.10712608e-02 -1.41498186e-02
  7.28911301e-03  4.66401167e-02 -3.03598270e-02  1.58275217e-02
 -3.75716761e-02  2.18806788e-02  5.70727736e-02  6.94929734e-02
 -1.10562583e-02 -4.65017278e-03  5.79629056e-02  6.20821305e-02
 -8.39301050e-02  4.60945070e-02  3.08905561e-02 -2.80621573e-02
  7.54997283e-02 -6.64678439e-02 -1.00945747e-02  7.24627748e-02
 -2.55832728e-02 -3.49523351e-02 -1.53640350e-02 -1.38213271e-02
  7.55090192e-02  5.20470552e-03  2.73512793e-03  7.59715363e-02
 -1.49164349e-02 -4.08083852e-03  3.83132175e-02  5.33591993e-02
 -8.13273787e-02 -1.51379956e-02 -3.23883891e-02  5.06269597e-02
 -3.00551951e-03  3.43180560e-02  4.98693660e-02  5.87679539e-03
  2.15017423e-02 -5.11811161e-03 -2.60974765e-02 -5.43032698e-02
  5.21316528e-02  2.27636099e-02 -2.02707462e-02  7.16480985e-03
  6.00548610e-02  6.46466613e-02  6.35547265e-02  4.32495773e-02
 -3.59029397e-02 -2.11490486e-02 -1.31872054e-02  6.16854392e-02
 -4.33445834e-02 -1.92220453e-02  4.11711894e-02 -9.13188457e-02
  1.62999313e-02 -4.75197919e-02 -1.42424311e-02  4.04016227e-02
  4.39589582e-02 -1.09121921e-02 -2.26009935e-02 -3.53353694e-02
 -2.59304163e-03 -4.20159064e-02  4.06450443e-02 -1.43812280e-02
 -4.58879881e-02  5.12865745e-02 -9.29440111e-02  1.31086598e-03
 -4.20732945e-02 -2.66901054e-03  4.93946075e-02 -1.26399053e-02
  3.61407585e-02  9.66746360e-03 -2.52395030e-02 -5.82831465e-02
 -2.51074638e-02 -1.48106064e-03  2.60115378e-02 -2.63679177e-02
  8.51315483e-02 -2.47986540e-02 -4.03588153e-02  3.33316326e-02
 -7.80417025e-02  3.68542336e-02  7.62940943e-02  2.95043760e-03
 -1.62802134e-02 -2.69085485e-02 -1.94144882e-02  1.24723492e-02
  5.59247434e-02  1.42520024e-02  4.46017310e-02  1.00223895e-03
 -4.31936570e-02  3.07447230e-03  2.65147556e-02  6.71578646e-02
 -8.44308287e-02 -9.88669135e-03  1.62431970e-02 -4.80054952e-02
 -7.48665817e-03 -5.64847589e-02  2.01411303e-02  3.53230499e-02
 -1.52126942e-02 -6.06102645e-02  4.18471992e-02  5.43325441e-03
 -9.52672493e-03  1.24750799e-02 -1.87757481e-02 -2.06560139e-02
  1.50616821e-02  1.29437387e-01  2.81897094e-02 -5.62085807e-02
 -8.07953328e-02 -5.55839129e-02 -2.62481458e-02 -3.76357906e-03
  3.03568710e-02 -9.83940139e-02 -2.55685169e-02 -7.63648599e-02
 -8.31806958e-02 -2.94392463e-02 -7.15039000e-02 -3.07812449e-02
 -7.10757747e-02 -2.87558790e-02  9.29784775e-03  2.56699342e-02
  3.32412794e-02 -1.53345347e-03 -2.51803864e-02  1.87383704e-02
 -3.54066081e-02 -2.77682152e-02 -5.59766144e-02  4.17367890e-02
 -1.79257225e-02  4.54017008e-03  1.49873281e-02 -3.22208852e-02
  3.84520665e-02 -9.93030220e-02  2.91524399e-02  8.52456018e-02
 -4.30656299e-02 -4.00584750e-02  1.55123184e-02  6.22944944e-02
  4.17528749e-02 -5.29684359e-03 -3.32254991e-02 -7.33537832e-04
  5.48328161e-02  4.02982756e-02  3.85493189e-02 -5.69190830e-02
  6.01079687e-02 -1.19527243e-02  7.10461661e-03  2.78867371e-02
 -4.93147075e-02  1.12975687e-01  3.78520461e-03 -6.19989168e-03
  1.84643327e-03  1.01434529e-01 -1.26617095e-02 -1.63180828e-02
 -3.12075336e-02 -1.87232606e-02 -2.91776787e-02 -2.83733867e-02
 -1.08778113e-02 -7.52279609e-02 -5.41283190e-02  3.59951928e-02
  2.70839930e-02  1.89248323e-02  3.62723097e-02 -9.05633252e-03
 -3.46811041e-02 -1.98459439e-02 -2.11009700e-02 -2.18994785e-02
 -3.04808989e-02 -4.66275513e-02 -4.40466590e-02  8.61612614e-03
 -1.40598591e-03  2.30093598e-02 -1.26809860e-02 -1.30385086e-02
 -3.51277255e-02 -2.52090339e-02 -3.78947444e-02  2.18817238e-02
 -1.76175721e-02  2.31147297e-02  3.16516310e-02 -2.76340283e-02
  7.59505481e-02 -9.44727138e-02 -3.27026956e-02  3.80917527e-02
  3.34366783e-02 -1.36072421e-02 -2.45634448e-02 -2.73088235e-02
  7.80415069e-03  9.66292433e-03 -9.43276286e-03 -4.05835034e-03
 -5.26607558e-02  8.32573324e-03  3.11091151e-02  5.99817038e-02
  8.06521922e-02 -5.57983927e-02  1.52332470e-01 -1.04823271e-02
  6.54353872e-02 -6.32116979e-04 -9.52467043e-03  2.57581472e-02
  9.50743258e-02 -2.41480581e-02  2.84271524e-03 -4.37694229e-02
  8.99236128e-02  6.92935148e-03  2.52592843e-02 -1.04654515e-02
  6.25924766e-02 -7.93294013e-02  5.21154841e-03  4.80230376e-02
  3.18753235e-02  5.37288040e-02 -7.77742965e-03 -5.50697558e-02
  2.23355871e-02  1.09248259e-03 -3.96743827e-02 -3.65705192e-02
 -6.62784353e-02 -2.22752485e-02 -8.29622499e-04 -3.85517702e-02
 -2.41693947e-02 -6.50929883e-02 -6.18458837e-02  1.86915975e-02
 -1.31403590e-02 -2.90559828e-02 -5.39913960e-03 -3.47336233e-02
 -4.31710221e-02 -2.52767932e-02 -4.86252457e-03 -3.74788269e-02
  8.73047709e-02 -1.68320574e-02  3.77141759e-02 -1.50067098e-02
 -2.67180670e-02 -3.59381922e-02  5.88501506e-02 -7.13116229e-02
  4.81722737e-03  1.45098427e-02 -5.80271054e-03  4.08169106e-02
 -3.53377759e-02 -1.87005568e-02  1.72934439e-02 -1.55429188e-02
  3.29226516e-02 -7.48877451e-02 -4.24391404e-02 -5.38747385e-02
 -1.47398449e-02  3.71104740e-02 -7.12608695e-02 -1.24035543e-02
 -5.01399636e-02  4.93413955e-02  1.97519735e-02  4.30890433e-02
 -4.62210551e-03  1.69214718e-02  2.47452520e-02  3.53057832e-02
  3.34966965e-02  1.59166176e-02 -8.41204077e-02  1.28260972e-02
  5.57938628e-02  4.69325148e-02  7.60438442e-02 -5.42376563e-03
  6.58591017e-02 -6.05090102e-03  5.03858589e-02  6.16697147e-02
 -1.17354002e-02  2.93030292e-02 -2.93723168e-03 -2.12629233e-02
 -1.14850746e-02  7.19364127e-03  2.80239005e-02  1.25790266e-02
 -4.78851832e-02  1.90149285e-02  1.86902247e-02 -7.31149223e-03
  3.57584283e-02  3.81760523e-02 -1.76578742e-02  3.87917534e-02
 -3.17979380e-02 -3.14798169e-02  1.13519110e-01 -8.34309030e-03
 -1.84423267e-03  1.90721452e-02  3.54133695e-02  9.78204422e-03
 -1.82188861e-03  4.95343693e-02 -1.57845393e-02 -1.69418212e-02
 -7.11745620e-02 -6.90580383e-02 -1.12067433e-02 -1.18210241e-02
 -1.97666548e-02  4.39067511e-03 -2.39831414e-02 -3.51604261e-03
 -3.21588963e-02  1.00509316e-01  5.46767116e-02 -1.66092522e-03
 -5.22257462e-02 -1.38783352e-02 -1.85592584e-02  1.61406659e-02
  4.37564105e-02  1.20873628e-02 -3.13783367e-03 -4.97991890e-02
  4.42246459e-02 -5.15654078e-03 -1.97094940e-02  1.22930901e-02
 -3.34645696e-02 -7.25902990e-02  1.92756038e-02 -6.80236071e-02
  1.13283619e-02  1.60857327e-02 -7.18746260e-02  8.51147994e-02
  2.89902538e-02 -1.90961231e-02  5.49825132e-02 -2.25846600e-02
 -4.27809209e-02 -4.21449170e-02  1.20857023e-02 -9.01030377e-02
  5.99150769e-02  4.18487415e-02 -5.15008010e-02 -5.26600778e-02
  3.98596236e-03  6.32998571e-02  1.19305857e-01 -4.10603620e-02
 -2.96703745e-02  5.76037019e-02  3.08018681e-02 -4.87976633e-02
  4.68206070e-02 -8.10507312e-03  4.25869646e-03  3.84963229e-02
 -5.67572005e-02 -4.28715199e-02  9.86106135e-03  2.52992418e-02
  4.87465877e-05 -4.73324880e-02 -5.55154160e-02 -4.51885676e-03
 -4.11257148e-03 -2.11364068e-02  4.93481755e-02  2.13220883e-02
  2.67107841e-02 -1.13554718e-02 -1.20921410e-03 -2.66064014e-02]

In [28]:
model.wv.most_similar('good')

[('bad', 0.5717833638191223),
 ('much', 0.5451714992523193),
 ('lot', 0.5375788807868958),
 ('nice', 0.5225197076797485),
 ('really', 0.5202868580818176),
 ('bit', 0.5062395930290222),
 ('simple', 0.5058395266532898),
 ('easy', 0.49777311086654663),
 ('always', 0.4823594093322754),
 ('close', 0.4812656044960022)]

In [29]:

ranks = []
second_ranks = []
for t in range(len(tagged_text)):
    inferred_vector = model.infer_vector(tagged_text[t].words)
    sims = model.dv.most_similar([inferred_vector], topn=100)
    try:
        rank = [docid for docid, sim in sims].index(t)
        ranks.append(rank)
    except ValueError:
        ranks.append(-1)
    second_ranks.append(sims[1])

'\nranks = []\nsecond_ranks = []\nfor t in range(len(tagged_text)):\n    inferred_vector = model.infer_vector(tagged_text[t].words)\n    sims = model.dv.most_similar([inferred_vector], topn=100)\n    try:\n        rank = [docid for docid, sim in sims].index(t)\n        ranks.append(rank)\n    except ValueError:\n        ranks.append(-1)\n    second_ranks.append(sims[1])\n'

In [30]:

import collections

counter = collections.Counter(ranks)
print(counter)
print(counter[0]/len(tagged_text))

'\nimport collections\n\ncounter = collections.Counter(ranks)\nprint(counter)\nprint(counter[0]/len(tagged_text))\n'

In [29]:
ratings_train, ratings_test = train_test_split(ratings_small, test_size=0.3)
print(len(ratings_train))
print(len(ratings_test))
ratings_train_merge = ratings_train.merge(links_small, on='movieId')
ratings_test_merge = ratings_test.merge(links_small, on='movieId')
print(len(ratings_train_merge))
print(len(ratings_test_merge))
movies['id'].convert_dtypes(str)
ratings_train_merge['tmdbId'].convert_dtypes(str)
#ratings_train_full_merge = ratings_train_merge.merge(movies, left_on='tmdbId', right_on='id')

70002
30002
70002
30002

0           107
1           107
2           107
3           107
4           107
          ...
69997     42618
69998     42852
69999     13241
70000    208869
70001     13763
Name: tmdbId, Length: 70002, dtype: Int64

In [30]:
# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}
ram = 12    # in GB
count_to_big = 0
count_false_int = 0

userid_list = ratings_train['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))

# get all movie vector rated from user
def get_user_rated_movies(ids):
    
        movie_vector_list = []
        for i in ids:
            tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
            try:
                index = movieid_list.index(int(tmdbId))
                movie_vector = vecs[index]
                movie_vector_list.append(movie_vector)
            except ValueError:
                #print("ValueError")
                pass


        #movie_vectors = scipy.sparse.vstack(movie_vector_list)
        movie_vectors = movie_vector_list
        return movie_vectors

In [31]:
userid_list = ratings_train['userId'].unique()
all_user_profiles = {}
for uid in userid_list:
    user_profile = ratings_train.loc[ratings_train['userId'] == uid]
    user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
    user_rated_movies_vector_array = np.array(user_rated_movies_vector_list)
    user_vector = user_rated_movies_vector_array.sum(axis=0)
    #user_vector = np.mean(user_rated_movies_vector_array, axis=0)
    all_user_profiles[uid] = user_vector

In [32]:
recommendation_users = {}
for uid in userid_list:
    if uid in all_user_profiles.keys():
        sims = model.dv.most_similar([all_user_profiles[uid]], topn=len(model.dv))
        recommendation_users[uid] = sims
len(recommendation_users)

671

In [33]:
recommendation_users[1][:10]

[(33744, 0.9387999176979065),
 (39381, 0.9358327388763428),
 (43444, 0.9355639815330505),
 (38492, 0.9347152709960938),
 (43927, 0.9342442750930786),
 (41437, 0.9341621398925781),
 (36542, 0.9317388534545898),
 (44473, 0.9283714294433594),
 (23961, 0.9280211329460144),
 (32052, 0.9269023537635803)]

In [57]:
%%time

percentage_already_seen = []
for uid in userid_list:
    user_profile = ratings_train.loc[ratings_train['userId'] == uid]
    user_recommendation = recommendation_users[uid]

    user_profile_mid_list = user_profile['movieId'].to_list()
    user_tmdb_list = []
    for m in user_profile_mid_list:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == m]
        try:
            user_tmdb_list.append(int(tmdbId))
        except ValueError:
            print("ValueError: " + str(tmdbId))
    
    m_count = 0
    for mid, cos in user_recommendation[:len(user_profile)]:
        try:
            if int(mid) in user_tmdb_list:
                m_count += 1
        except ValueError:
            print("ValueError: " + str(mid) + " not in tmdbid list")    

    if m_count == len(user_profile):
        print(str(uid) + " : the first movies are already viewed")
    else:
        print(str(m_count) + " of " + str(len(user_profile)) + " in first recommended already seen")

    p = m_count/len(user_profile)
    percentage_already_seen.append(p)

average_percentage = sum(percentage_already_seen) / len(percentage_already_seen)
print("Average Percentage of already seen movies: " + str(average_percentage))

0 of 85 in first recommended already seen
0 of 163 in first recommended already seen
0 of 210 in first recommended already seen
0 of 49 in first recommended already seen
12 of 1181 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
11 of 698 in first recommended already seen
ValueError: 7588   NaN
Name: tmdbId, dtype: float64
9 of 746 in first recommended already seen
0 of 46 in first recommended already seen
0 of 33 in first recommended already seen
0 of 37 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
1 of 260 in first recommended already seen
0 of 188 in first recommended already seen
0 of 166 in first recommended already seen
1 of 377 in first recommended already seen
0 of 236 in first recommended already seen
2 of 197 in first recommended already seen
3 of 428 in first recommended already seen
4 of 621 in first recommended already seen
0 of 20 in first recommended already seen
0 of 68 in first recommended already seen
0 of 21 in first recommended already seen
3 of 515 in first recommended already seen
1 of 233 in first recommended already seen
1 of 230 in first recommended already seen
0 of 211 in first recommended already seen
0 of 212 in first recommended already seen
0 of 14 in first recommended already seen
2 of 348 in first recommended already seen
8 of 642 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 20 in first recommended already seen
14 of 904 in first recommended already seen
3 of 494 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
2 of 496 in first recommended already seen
2 of 169 in first recommended already seen
0 of 207 in first recommended already seen
1 of 152 in first recommended already seen
0 of 184 in first recommended already seen
2 of 440 in first recommended already seen
0 of 224 in first recommended already seen
1 of 471 in first recommended already seen
1 of 472 in first recommended already seen
9 of 651 in first recommended already seen
ValueError: 8507   NaN
Name: tmdbId, dtype: float64
ValueError: 7438   NaN
Name: tmdbId, dtype: float64
17 of 1108 in first recommended already seen
0 of 69 in first recommended already seen
1 of 210 in first recommended already seen
0 of 28 in first recommended already seen
0 of 18 in first recommended already seen
0 of 148 in first recommended already seen
0 of 20 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
38 of 1648 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
ValueError: 2282   NaN
Name: tmdbId, dtype: float64
25 of 1314 in first recommended already seen
2 of 590 in first recommended already seen
0 of 86 in first recommended already seen
0 of 110 in first recommended already seen
2 of 464 in first recommended already seen
0 of 216 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 215 in first recommended already seen
2 of 227 in first recommended already seen
0 of 175 in first recommended already seen
0 of 144 in first recommended already seen
2 of 361 in first recommended already seen
0 of 84 in first recommended already seen
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
ValueError: 8507   NaN
Name: tmdbId, dtype: float64
4 of 451 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
ValueError: 8505   NaN
Name: tmdbId, dtype: float64
2 of 160 in first recommended already seen
0 of 116 in first recommended already seen
0 of 114 in first recommended already seen
0 of 99 in first recommended already seen
0 of 23 in first recommended already seen
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
0 of 70 in first recommended already seen
1 of 311 in first recommended already seen
2 of 506 in first recommended already seen
16 of 938 in first recommended already seen
0 of 96 in first recommended already seen
0 of 115 in first recommended already seen
2 of 240 in first recommended already seen
0 of 61 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
13 of 1175 in first recommended already seen
1 of 153 in first recommended already seen
0 of 35 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
1 of 479 in first recommended already seen
1 of 395 in first recommended already seen
0 of 40 in first recommended already seen
10 of 709 in first recommended already seen
2 of 350 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
1 of 300 in first recommended already seen
3 of 269 in first recommended already seen
0 of 171 in first recommended already seen
0 of 102 in first recommended already seen
5 of 559 in first recommended already seen
0 of 35 in first recommended already seen
4 of 686 in first recommended already seen
0 of 144 in first recommended already seen
2 of 340 in first recommended already seen
0 of 25 in first recommended already seen
0 of 161 in first recommended already seen
0 of 51 in first recommended already seen
0 of 142 in first recommended already seen
2 of 353 in first recommended already seen
0 of 20 in first recommended already seen
0 of 183 in first recommended already seen
0 of 85 in first recommended already seen
0 of 25 in first recommended already seen
0 of 23 in first recommended already seen
0 of 88 in first recommended already seen
0 of 108 in first recommended already seen
0 of 153 in first recommended already seen
0 of 42 in first recommended already seen
0 of 89 in first recommended already seen
0 of 119 in first recommended already seen
1 of 122 in first recommended already seen
0 of 105 in first recommended already seen
0 of 80 in first recommended already seen
0 of 57 in first recommended already seen
0 of 33 in first recommended already seen
0 of 71 in first recommended already seen
0 of 57 in first recommended already seen
0 of 34 in first recommended already seen
0 of 101 in first recommended already seen
0 of 22 in first recommended already seen
3 of 362 in first recommended already seen
0 of 153 in first recommended already seen
0 of 62 in first recommended already seen
0 of 283 in first recommended already seen
0 of 199 in first recommended already seen
2 of 196 in first recommended already seen
0 of 219 in first recommended already seen
0 of 113 in first recommended already seen
0 of 50 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
0 of 114 in first recommended already seen
0 of 42 in first recommended already seen
0 of 88 in first recommended already seen
2 of 434 in first recommended already seen
0 of 38 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 74 in first recommended already seen
0 of 214 in first recommended already seen
0 of 51 in first recommended already seen
0 of 43 in first recommended already seen
0 of 113 in first recommended already seen
0 of 145 in first recommended already seen
0 of 136 in first recommended already seen
0 of 104 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 263 in first recommended already seen
0 of 36 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 68 in first recommended already seen
0 of 154 in first recommended already seen
0 of 33 in first recommended already seen
2 of 295 in first recommended already seen
0 of 153 in first recommended already seen
0 of 45 in first recommended already seen
0 of 261 in first recommended already seen
0 of 59 in first recommended already seen
0 of 134 in first recommended already seen
1 of 150 in first recommended already seen
2 of 235 in first recommended already seen
0 of 77 in first recommended already seen
0 of 52 in first recommended already seen
0 of 48 in first recommended already seen
1 of 263 in first recommended already seen
1 of 226 in first recommended already seen
2 of 227 in first recommended already seen
0 of 31 in first recommended already seen
0 of 34 in first recommended already seen
0 of 24 in first recommended already seen
0 of 57 in first recommended already seen
0 of 62 in first recommended already seen
1 of 338 in first recommended already seen
0 of 179 in first recommended already seen
0 of 12 in first recommended already seen
0 of 173 in first recommended already seen
0 of 70 in first recommended already seen
0 of 225 in first recommended already seen
0 of 24 in first recommended already seen
0 of 107 in first recommended already seen
0 of 115 in first recommended already seen
0 of 169 in first recommended already seen
0 of 166 in first recommended already seen
1 of 149 in first recommended already seen
ValueError: 8507   NaN
Name: tmdbId, dtype: float64
1 of 273 in first recommended already seen
0 of 91 in first recommended already seen
0 of 207 in first recommended already seen
2 of 347 in first recommended already seen
0 of 21 in first recommended already seen
0 of 64 in first recommended already seen
0 of 39 in first recommended already seen
0 of 88 in first recommended already seen
ValueError: 7408   NaN
Name: tmdbId, dtype: float64
0 of 217 in first recommended already seen
0 of 34 in first recommended already seen
0 of 75 in first recommended already seen
0 of 86 in first recommended already seen
0 of 47 in first recommended already seen
0 of 27 in first recommended already seen
0 of 297 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
5 of 568 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 123 in first recommended already seen
0 of 135 in first recommended already seen
0 of 111 in first recommended already seen
0 of 137 in first recommended already seen
0 of 113 in first recommended already seen
0 of 69 in first recommended already seen
0 of 32 in first recommended already seen
0 of 138 in first recommended already seen
0 of 23 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 137 in first recommended already seen
0 of 124 in first recommended already seen
1 of 304 in first recommended already seen
0 of 46 in first recommended already seen
0 of 74 in first recommended already seen
0 of 158 in first recommended already seen
0 of 87 in first recommended already seen
0 of 23 in first recommended already seen
0 of 147 in first recommended already seen
0 of 28 in first recommended already seen
0 of 39 in first recommended already seen
0 of 29 in first recommended already seen
0 of 112 in first recommended already seen
0 of 88 in first recommended already seen
0 of 22 in first recommended already seen
0 of 31 in first recommended already seen
0 of 70 in first recommended already seen
1 of 195 in first recommended already seen
0 of 69 in first recommended already seen
0 of 91 in first recommended already seen
0 of 192 in first recommended already seen
1 of 176 in first recommended already seen
0 of 29 in first recommended already seen
0 of 17 in first recommended already seen
0 of 27 in first recommended already seen
0 of 67 in first recommended already seen
0 of 75 in first recommended already seen
0 of 53 in first recommended already seen
0 of 26 in first recommended already seen
1 of 430 in first recommended already seen
0 of 26 in first recommended already seen
0 of 67 in first recommended already seen
0 of 91 in first recommended already seen
0 of 18 in first recommended already seen
0 of 46 in first recommended already seen
0 of 33 in first recommended already seen
0 of 14 in first recommended already seen
0 of 20 in first recommended already seen
0 of 130 in first recommended already seen
0 of 25 in first recommended already seen
0 of 47 in first recommended already seen
1 of 242 in first recommended already seen
0 of 90 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 137 in first recommended already seen
0 of 111 in first recommended already seen
0 of 92 in first recommended already seen
1 of 161 in first recommended already seen
0 of 100 in first recommended already seen
0 of 96 in first recommended already seen
0 of 36 in first recommended already seen
0 of 20 in first recommended already seen
0 of 44 in first recommended already seen
2 of 237 in first recommended already seen
0 of 64 in first recommended already seen
0 of 131 in first recommended already seen
0 of 50 in first recommended already seen
0 of 149 in first recommended already seen
0 of 27 in first recommended already seen
1 of 105 in first recommended already seen
0 of 57 in first recommended already seen
0 of 64 in first recommended already seen
0 of 17 in first recommended already seen
0 of 78 in first recommended already seen
0 of 174 in first recommended already seen
0 of 104 in first recommended already seen
0 of 40 in first recommended already seen
0 of 45 in first recommended already seen
0 of 133 in first recommended already seen
0 of 75 in first recommended already seen
0 of 71 in first recommended already seen
0 of 29 in first recommended already seen
0 of 73 in first recommended already seen
0 of 92 in first recommended already seen
0 of 33 in first recommended already seen
0 of 45 in first recommended already seen
0 of 57 in first recommended already seen
0 of 73 in first recommended already seen
0 of 75 in first recommended already seen
0 of 69 in first recommended already seen
0 of 26 in first recommended already seen
0 of 23 in first recommended already seen
0 of 191 in first recommended already seen
0 of 88 in first recommended already seen
0 of 187 in first recommended already seen
0 of 66 in first recommended already seen
1 of 211 in first recommended already seen
0 of 13 in first recommended already seen
1 of 146 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 114 in first recommended already seen
0 of 51 in first recommended already seen
2 of 355 in first recommended already seen
0 of 34 in first recommended already seen
0 of 48 in first recommended already seen
0 of 68 in first recommended already seen
2 of 309 in first recommended already seen
0 of 235 in first recommended already seen
0 of 42 in first recommended already seen
0 of 198 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 74 in first recommended already seen
0 of 129 in first recommended already seen
0 of 40 in first recommended already seen
0 of 39 in first recommended already seen
0 of 71 in first recommended already seen
1 of 190 in first recommended already seen
0 of 101 in first recommended already seen
1 of 101 in first recommended already seen
0 of 43 in first recommended already seen
0 of 51 in first recommended already seen
0 of 69 in first recommended already seen
1 of 235 in first recommended already seen
0 of 38 in first recommended already seen
0 of 27 in first recommended already seen
0 of 25 in first recommended already seen
0 of 71 in first recommended already seen
0 of 28 in first recommended already seen
0 of 144 in first recommended already seen
1 of 151 in first recommended already seen
0 of 45 in first recommended already seen
2 of 338 in first recommended already seen
0 of 60 in first recommended already seen
0 of 51 in first recommended already seen
0 of 19 in first recommended already seen
0 of 27 in first recommended already seen
0 of 153 in first recommended already seen
0 of 31 in first recommended already seen
0 of 69 in first recommended already seen
0 of 42 in first recommended already seen
0 of 114 in first recommended already seen
0 of 41 in first recommended already seen
0 of 58 in first recommended already seen
0 of 55 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 73 in first recommended already seen
0 of 58 in first recommended already seen
0 of 19 in first recommended already seen
0 of 76 in first recommended already seen
0 of 163 in first recommended already seen
3 of 278 in first recommended already seen
0 of 47 in first recommended already seen
0 of 38 in first recommended already seen
0 of 32 in first recommended already seen
0 of 103 in first recommended already seen
0 of 81 in first recommended already seen
0 of 21 in first recommended already seen
0 of 276 in first recommended already seen
0 of 140 in first recommended already seen
0 of 29 in first recommended already seen
0 of 101 in first recommended already seen
2 of 291 in first recommended already seen
0 of 88 in first recommended already seen
0 of 95 in first recommended already seen
0 of 150 in first recommended already seen
0 of 27 in first recommended already seen
0 of 146 in first recommended already seen
0 of 112 in first recommended already seen
0 of 45 in first recommended already seen
0 of 63 in first recommended already seen
0 of 53 in first recommended already seen
0 of 33 in first recommended already seen
0 of 74 in first recommended already seen
0 of 24 in first recommended already seen
0 of 36 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 99 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
0 of 34 in first recommended already seen
0 of 35 in first recommended already seen
0 of 19 in first recommended already seen
0 of 67 in first recommended already seen
0 of 36 in first recommended already seen
0 of 57 in first recommended already seen
0 of 17 in first recommended already seen
0 of 54 in first recommended already seen
0 of 116 in first recommended already seen
0 of 45 in first recommended already seen
0 of 85 in first recommended already seen
1 of 178 in first recommended already seen
0 of 16 in first recommended already seen
3 of 303 in first recommended already seen
0 of 43 in first recommended already seen
0 of 45 in first recommended already seen
0 of 124 in first recommended already seen
0 of 45 in first recommended already seen
1 of 131 in first recommended already seen
0 of 24 in first recommended already seen
0 of 42 in first recommended already seen
0 of 28 in first recommended already seen
0 of 55 in first recommended already seen
0 of 27 in first recommended already seen
0 of 39 in first recommended already seen
0 of 88 in first recommended already seen
0 of 29 in first recommended already seen
0 of 22 in first recommended already seen
0 of 48 in first recommended already seen
0 of 60 in first recommended already seen
0 of 57 in first recommended already seen
0 of 68 in first recommended already seen
0 of 120 in first recommended already seen
0 of 20 in first recommended already seen
0 of 97 in first recommended already seen
0 of 119 in first recommended already seen
0 of 82 in first recommended already seen
1 of 46 in first recommended already seen
0 of 22 in first recommended already seen
0 of 60 in first recommended already seen
0 of 70 in first recommended already seen
0 of 78 in first recommended already seen
0 of 46 in first recommended already seen
0 of 22 in first recommended already seen
ValueError: 608   NaN
Name: tmdbId, dtype: float64
0 of 54 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
0 of 132 in first recommended already seen
0 of 92 in first recommended already seen
0 of 34 in first recommended already seen
0 of 39 in first recommended already seen
0 of 33 in first recommended already seen
0 of 16 in first recommended already seen
0 of 14 in first recommended already seen
0 of 86 in first recommended already seen
0 of 90 in first recommended already seen
0 of 15 in first recommended already seen
0 of 33 in first recommended already seen
0 of 70 in first recommended already seen
0 of 43 in first recommended already seen
0 of 39 in first recommended already seen
0 of 62 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64

In [172]:
# vector size = 50
Average Percentage of already seen movies: 0.0024270959347025794
# vector size = 100, epochs = 10
Average Percentage of already seen movies: 0.0025281050916012454
# vector size = 100, epochs = 20
Average Percentage of already seen movies: 0.0016255834501928675
# vector size = 100, epochs = 20, count_min = 1
Average Percentage of already seen movies: 0.0014803785890319565
# vector_size=50, min_count=5, epochs=20
Average Percentage of already seen movies: 0.0015261212643458547
# vector_size=500, min_count=2, epochs=10, 
Average Percentage of already seen movies: 0.0018633842313585812

SyntaxError: invalid syntax (<ipython-input-172-61ab19dec88f>, line 2)

In [58]:
# Remove movies used to create User Vector

percentage_already_seen = []
cleaned_recommendations = {}
for uid in userid_list:
    if uid in all_user_profiles.keys():
        user_profile = ratings_train.loc[ratings_train['userId'] == uid]
        user_recommendation = recommendation_users[uid]
        user_profile_mid_list = user_profile['movieId'].to_list()
        user_tmdb_list = []
        for m in user_profile_mid_list:
            tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == m]
            try:
                user_tmdb_list.append(int(tmdbId))
            except ValueError:
                #print("ValueError: " + str(tmdbId))
                count_false_int = count_false_int + 1
            
        m_count = 0
        for mid, cos in user_recommendation:
            try:
                if int(mid) in user_tmdb_list:
                    m_count += 1
                    user_recommendation.remove((mid,cos))
            except ValueError:
                print("ValueError: " + str(mid) + " not in tmdbid list")   

        cleaned_recommendations[uid] = user_recommendation

In [59]:
# Calculate Percentage of user rated movies from test split in recommended, top 10/50/100
top_value = 100
user_percentages = []
nan_count = 0
for uid in userid_list:
    user_profile = ratings_test.loc[ratings_test['userId'] == uid]
    found_movies = 0
    if uid in recommendation_users.keys():
        user_recommendations = cleaned_recommendations[uid]
        #print(len(user_recommendations))
        #tmdbId_list = user_profile['tmdbId'].to_list():
        user_profile_movie_list = user_profile['movieId'].to_list()
        user_tmdb_list = []
        for m in user_profile_movie_list:
            tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == m]
            try:
                user_tmdb_list.append(int(tmdbId))
            except ValueError:
                #print("ValueError: " + str(tmdbId))
                count_false_int = count_false_int + 1

        for mid, cos in user_recommendations[:top_value]:
            try:
                if int(mid) in user_tmdb_list:
                    found_movies = found_movies + 1
            except ValueError:
                print("ValueError: " + str(mid) + " not in tmdbid list")

       
    user_percentages.append(found_movies/len(user_profile))

mean_percentage = sum(user_percentages)/len(user_percentages)
print("Mean Percentage of good Recommendations (based on Test Split): " + str(mean_percentage))

Mean Percentage of good Recommendations (based on Test Split): 0.0005327239415896569

In [ ]:
# vector_size=500, min_count=2, epochs=10, 
Mean Percentage of good Recommendations (based on Test Split): 0.0010615522910604877
# vector_size=50, min_count=2, epochs=10, 
Mean Percentage of good Recommendations (based on Test Split): 0.0025566209200994917
# vector_size=500, min_count=2, epochs=10, 
Mean Percentage of good Recommendations (based on Test Split): 0.0005327239415896569

In [60]:
from sklearn import svm

In [81]:
import collections
test_reco = recommendation_users
for k,l in test_reco.items():
    l.sort(key=lambda x:x[0])
    test_reco[k] = l

In [97]:
u_reco = test_reco[1]
u_reco_list = list(map(list, zip(*u_reco)))
u_reco_cos_array = np.array(u_reco_list[1])

In [14]:
userid_list = ratings_train['userId'].unique()

movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))

def get_user_rated_movies_bitarray(ids):
    
        bitarray = np.zeros(len(movieid_list))
        for i in ids:
            tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
            try:
                index = movieid_list.index(int(tmdbId))
                bitarray[index] = 1
            except ValueError:
                #print("ValueError")
                pass

        return bitarray


all_user_bitarrays = {}

for uid in userid_list[:1]:
    user_profile = ratings_train.loc[ratings_train['userId'] == uid]
    user_rated_movies_bitarray = get_user_rated_movies_bitarray(user_profile['movieId'].to_list())
    all_user_bitarrays[uid] = user_rated_movies_bitarray

NameError: name 'ratings_train' is not defined