In [1]:
import numpy as np
import pandas as pd
import sklearn

In [2]:
movies = pd.read_csv('movie_archive\movies_metadata.csv')

C:\Users\Admin\anaconda3\envs\tf-1.15\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [4]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [19]:
import json

In [45]:
df = movies['genres']
test = df[0]
print(test)
test = test.replace("\'", "\"")
t = json.loads(test)
t[0]['id']

for i,text in enumerate(df):
    text = text.replace("\'", "\"")
    g = json.loads(text)
    df[i] = g

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
ipykernel_launcher:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
genre_list = df.to_list()

In [93]:
first_genre_list = []
id_arr = np.zeros(len(genre_list))
for i in range(len(genre_list)):
    try:
        first_genre_list.append(genre_list[i][0])
        id_arr[i] = first_genre_list[i]['id']
    except IndexError:
        first_genre_list.append(None)

In [103]:
unique, count = np.unique(id_arr, return_counts=True)

ID : Count
[0.0000e+00 1.2000e+01 1.4000e+01 1.6000e+01 1.8000e+01 2.7000e+01
 2.8000e+01 3.5000e+01 3.6000e+01 3.7000e+01 5.3000e+01 8.0000e+01
 9.9000e+01 8.7800e+02 2.8830e+03 9.6480e+03 1.0402e+04 1.0749e+04
 1.0751e+04 1.0752e+04 1.0769e+04 1.0770e+04 1.1176e+04 1.7161e+04] : 2442
[ 2442  1514   704  1124 11966  2619  4489  8820   279   451  1665  1685
  3415   647     1   554   487  1191   524   379   118   390     1     1] : 1514

In [5]:
links_small = pd.read_csv('movie_archive\links_small.csv')

In [6]:
links_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9125 entries, 0 to 9124
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9125 non-null   int64
 1   imdbId   9125 non-null   int64
 2   tmdbId   9112 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 214.0 KB

In [7]:
ratings_small = pd.read_csv('movie_archive\\ratings_small.csv')

In [8]:
ratings_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100004 entries, 0 to 100003
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100004 non-null  int64
 1   movieId    100004 non-null  int64
 2   rating     100004 non-null  float64
 3   timestamp  100004 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [9]:
np.unique(ratings_small['userId']).size

671

In [39]:
ratings = pd.read_csv('movie_archive\\ratings.csv')

In [11]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [17]:
np.unique(ratings['userId']).size

270896

In [12]:
keywords = pd.read_csv('movie_archive\keywords.csv')

In [13]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [14]:
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [15]:
movies['title'].apply(str)

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45461                         Subdue
45462            Century of Birthing
45463                       Betrayal
45464               Satan Triumphant
45465                       Queerama
Name: title, Length: 45466, dtype: object

In [16]:
movies.title.apply(str)

0                          Toy Story
1                            Jumanji
2                   Grumpier Old Men
3                  Waiting to Exhale
4        Father of the Bride Part II
                    ...
45461                         Subdue
45462            Century of Birthing
45463                       Betrayal
45464               Satan Triumphant
45465                       Queerama
Name: title, Length: 45466, dtype: object

In [29]:
df = movies.filter(['id','title','overview'], axis=1)

In [30]:
df = df[df['title'] != 'Toy Story']
df = df.reset_index(drop=True)

In [38]:
df

,id,title,overview
0,8844,Jumanji,When siblings Judy and Peter discover an encha...
1,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...
2,31357,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom..."
3,11862,Father of the Bride Part II,Just when George Banks has recovered from his ...
4,949,Heat,"Obsessive master thief, Neil McCauley leads a ..."
...,...,...,...
45452,439050,Subdue,Rising and falling between a man and woman.
45453,111109,Century of Birthing,An artist struggles to finish his work while a...
45454,67758,Betrayal,"When one of her hits goes wrong, a professiona..."
45455,227506,Satan Triumphant,"In a small town live two brothers, one a minis..."
45456,461257,Queerama,50 years after decriminalisation of homosexual...

In [32]:
# check movies ids, convert to int, drop if not possible
for id in df['id'].to_list():
    try:
        id = int(id)
    except ValueError:
        df = df[df['id'] != id]

df = df.reset_index(drop=True)

In [35]:
for title in df['title'].to_list():
    try:
        title = str(title)
        if title == 'nan' or title == '' or title == ' ':
            df = df[df['title'] != title]
    except ValueError:
        df = df[df['title'] != title]

df = df.reset_index(drop=True)

In [37]:
for overview in df['overview'].to_list():
    try:
        overview = str(overview)
        if overview == 'nan' or overview == '' or overview == ' ':
            df = df[df['overview'] != overview]
    except ValueError:
        df = df[df['overview'] != title]

df = df.reset_index(drop=True)

In [1]:
import pickle

In [6]:
df = pd.read_pickle('top_5500_movies_and_shows.df')