In [2]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import scipy
from numba import njit
from numba import jit
from numba import vectorize
from timeit import default_timer as timer
from datetime import timedelta

In [3]:
movies = pd.read_csv('movie_archive\movies_metadata.csv')
ratings_small = pd.read_csv('movie_archive\\ratings_small.csv')
links_small = pd.read_csv('movie_archive\links_small.csv')

C:\Users\Admin\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
%%time
tfidf = CountVectorizer(analyzer='word', ngram_range=(1, 3), stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['title'].apply(str) + " " + movies['overview'].apply(str))
tfidf_matrix

Wall time: 14.3 s

<45466x2407186 sparse matrix of type '<class 'numpy.int64'>'
	with 3943994 stored elements in Compressed Sparse Row format>

In [10]:
userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))
movieid_list = np.array(movieid_list)

# get all movie vector rated from user
def get_user_rated_movies(tmdbs):
    movie_vector_list = []
    for i,id in enumerate(tmdbs):
        index = np.where(movieid_list == id)
        movie_vector = tfidf_matrix[index]
        movie_vector_list.append(scipy.sparse.csr_matrix.toarray(movie_vector)) 
        
    movie_vectors = np.array(movie_vector_list)
    #movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


# get rated movies from user, convert mid to tmdbid
def get_user_profile(uid):
    user_profile = ratings_small.loc[ratings_small['userId'] == uid]
    user_movieid_list = user_profile['movieId'].to_list()
    user_movieid_tmdbId = np.zeros_like(user_movieid_list)
    for i, mid in enumerate(user_movieid_list):
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == uid]
        try:
            tmdbId = int(tmdbId)
            user_movieid_tmdbId[i] = tmdbId
        except Exception:
            print ("ValueError tmdbId: " + str(tmdbId))

    return user_movieid_tmdbId


@njit(fastmath=True, parallel=True)
def create_user_vector_jit(user_rated_movies_vector_array):
    user_vector = user_rated_movies_vector_array[0]

    for x in user_rated_movies_vector_array[1:]:
        user_vector = user_vector + x
    
    return user_vector    
        

# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}
def create_user_vectors():
    for uid in userid_list:
        user_tmdbid_array = get_user_profile(uid)
        user_rated_movies_vectors = get_user_rated_movies(user_tmdbid_array)

        print(type(user_rated_movies_vectors))
        print(user_rated_movies_vectors.size)
        n = len(user_tmdbid_array)
        if n < 200:
            print("Jit Time Compute User Vector: n = " + str(n))
            start = timer()
            user_vector = create_user_vector_jit(user_rated_movies_vectors)
            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = scipy.sparse.csr_matrix(user_norm)
            print(str(uid) + " finished\n")
        else:
            print("CSR Time Compute User Vector: n = " + str(n))
            start = timer()
            user_rated_movies_vector_csr = scipy.sparse.csr_matrix(user_rated_movies_vectors)
            user_vector = user_rated_movies_vector_csr[0]
            for x in user_rated_movies_vector_csr[1:]:
                user_vector = user_vector + x
            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")
        

%time create_user_vectors()

<class 'numpy.ndarray'>
48143720
Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.783694
1 finished

<class 'numpy.ndarray'>
182946136
Jit Time Compute User Vector: n = 76
Execution time HH:MM:SS:  0:00:00.549685
2 finished

<class 'numpy.ndarray'>
122766486
Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.352692
3 finished

<class 'numpy.ndarray'>
491065944
CSR Time Compute User Vector: n = 204

TypeError: expected dimension <= 2 array or matrix

In [30]:
# VERSION 2, n = 500

userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))


# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


@njit(fastmath=True, parallel=True)
def create_user_vector_jit(user_rated_movies_vector_array):
    user_vector = user_rated_movies_vector_array[0]

    for x in user_rated_movies_vector_array[1:]:
        user_vector = user_vector + x
    
    return user_vector 


# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}

def create_user_vectors():
    for uid in userid_list:
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        
        user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
        n = user_rated_movies_vector_list.shape[0]
        
        if n > 500:
            print("CSR Time Compute User Vector: n = " + str(n))
            start = timer()

            user_vector = user_rated_movies_vector_list[0]
            for x in user_rated_movies_vector_list[1:]:
                user_vector = user_vector + x

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")

        else:
            user_vectors_array = np.zeros(user_rated_movies_vector_list.shape)
            for i in range(n):
                user_vectors_array[i] = scipy.sparse.csr_matrix.toarray(user_rated_movies_vector_list[i])

            print("Jit Time Compute User Vector: n = " + str(n))
            start = timer()

            user_vector = create_user_vector_jit(user_vectors_array)

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            
            user_norm = sklearn.preprocessing.normalize(scipy.sparse.csr_matrix(user_vector))
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")


%time create_user_vectors()

= 126
Execution time HH:MM:SS:  0:00:00.834060
496 finished

Jit Time Compute User Vector: n = 105
Execution time HH:MM:SS:  0:00:00.729646
497 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.118386
498 finished

Jit Time Compute User Vector: n = 33
Execution time HH:MM:SS:  0:00:00.211236
499 finished

ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 248
Execution time HH:MM:SS:  0:00:01.774064
500 finished

Jit Time Compute User Vector: n = 203
Execution time HH:MM:SS:  0:00:01.474396
501 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 112
Execution time HH:MM:SS:  0:00:00.730164
502 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.268738
503 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.151666
504 finished

Jit Time Compute User Vector: n = 395
Execution time HH:MM:SS:  0:00:03.103076
505 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.139098
506 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.270981
507 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.291914
508 finished

CSR Time Compute User Vector: n = 923
Execution time HH:MM:SS:  0:00:13.180885
509 finished

Jit Time Compute User Vector: n = 161
Execution time HH:MM:SS:  0:00:01.102591
510 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.190830
511 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.170279
512 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.136874
513 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 375
Execution time HH:MM:SS:  0:00:02.855138
514 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.211453
515 finished

Jit Time Compute User Vector: n = 149
Execution time HH:MM:SS:  0:00:01.007340
516 finished

Jit Time Compute User Vector: n = 42
Execution time HH:MM:SS:  0:00:00.260638
517 finished

CSR Time Compute User Vector: n = 707
Execution time HH:MM:SS:  0:00:09.866657
518 finished

Jit Time Compute User Vector: n = 160
Execution time HH:MM:SS:  0:00:01.084258
519 finished

Jit Time Compute User Vector: n = 154
Execution time HH:MM:SS:  0:00:01.044984
520 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.302375
521 finished

Jit Time Compute User Vector: n = 250
Execution time HH:MM:SS:  0:00:01.844650
522 finished

ValueError tmdbId: 3598    17882.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 125
Execution time HH:MM:SS:  0:00:00.825658
523 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.399977
524 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:00.924661
525 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.166668
526 finished

ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 134
Execution time HH:MM:SS:  0:00:00.895954
527 finished

Jit Time Compute User Vector: n = 127
Execution time HH:MM:SS:  0:00:00.835710
528 finished

ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 602
Execution time HH:MM:SS:  0:00:08.259188
529 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.501619
530 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 131
Execution time HH:MM:SS:  0:00:00.860640
531 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.318959
532 finished

Jit Time Compute User Vector: n = 163
Execution time HH:MM:SS:  0:00:01.133639
533 finished

Jit Time Compute User Vector: n = 303
Execution time HH:MM:SS:  0:00:02.283880
534 finished

Jit Time Compute User Vector: n = 63
Execution time HH:MM:SS:  0:00:00.396616
535 finished

Jit Time Compute User Vector: n = 109
Execution time HH:MM:SS:  0:00:00.706386
536 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 306
Execution time HH:MM:SS:  0:00:02.329085
537 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.170379
538 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.178259
539 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.137840
540 finished

Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.185492
541 finished

ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 62
Execution time HH:MM:SS:  0:00:00.391238
542 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.284878
543 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 264
Execution time HH:MM:SS:  0:00:01.937877
544 finished

Jit Time Compute User Vector: n = 92
Execution time HH:MM:SS:  0:00:00.623994
545 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.403535
546 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8111    53803.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 9062    374454.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 2386
Execution time HH:MM:SS:  0:00:40.998643
547 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:00.921377
548 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.133672
549 finished

Jit Time Compute User Vector: n = 135
Execution time HH:MM:SS:  0:00:00.910907
550 finished

Jit Time Compute User Vector: n = 85
Execution time HH:MM:SS:  0:00:00.565768
551 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.238223
552 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 199
Execution time HH:MM:SS:  0:00:01.442907
553 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.419905
554 finished

Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.489522
555 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.161515
556 finished

Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.425509
557 finished

Jit Time Compute User Vector: n = 215
Execution time HH:MM:SS:  0:00:01.562682
558 finished

Jit Time Compute User Vector: n = 129
Execution time HH:MM:SS:  0:00:00.850174
559 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:00.683480
560 finished

Jit Time Compute User Vector: n = 296
Execution time HH:MM:SS:  0:00:02.252496
561 finished

Jit Time Compute User Vector: n = 253
Execution time HH:MM:SS:  0:00:01.823014
562 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 156
Execution time HH:MM:SS:  0:00:01.094795
563 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1866
Execution time HH:MM:SS:  0:00:30.682521
564 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.167024
565 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.133471
566 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.215458
567 finished

Jit Time Compute User Vector: n = 37
Execution time HH:MM:SS:  0:00:00.234367
568 finished

Jit Time Compute User Vector: n = 85
Execution time HH:MM:SS:  0:00:00.564626
569 finished

Jit Time Compute User Vector: n = 128
Execution time HH:MM:SS:  0:00:00.863784
570 finished

Jit Time Compute User Vector: n = 59
Execution time HH:MM:SS:  0:00:00.370139
571 finished

Jit Time Compute User Vector: n = 106
Execution time HH:MM:SS:  0:00:00.735439
572 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.247761
573 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 340
Execution time HH:MM:SS:  0:00:02.601576
574 finished

CSR Time Compute User Vector: n = 547
Execution time HH:MM:SS:  0:00:08.504462
575 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.231901
576 finished

Jit Time Compute User Vector: n = 279
Execution time HH:MM:SS:  0:00:02.059410
577 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.217245
578 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.123691
579 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 921
Execution time HH:MM:SS:  0:00:13.329834
580 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.303031
581 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 137
Execution time HH:MM:SS:  0:00:00.906764
582 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.124706
583 finished

ValueError tmdbId: 5933    2518.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 192
Execution time HH:MM:SS:  0:00:01.413870
584 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 299
Execution time HH:MM:SS:  0:00:02.186887
585 finished

Jit Time Compute User Vector: n = 57
Execution time HH:MM:SS:  0:00:00.377851
586 finished

ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 502
Execution time HH:MM:SS:  0:00:06.834957
587 finished

Jit Time Compute User Vector: n = 52
Execution time HH:MM:SS:  0:00:00.328360
588 finished

Jit Time Compute User Vector: n = 43
Execution time HH:MM:SS:  0:00:00.277809
589 finished

Jit Time Compute User Vector: n = 89
Execution time HH:MM:SS:  0:00:00.593805
590 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.183373
591 finished

Jit Time Compute User Vector: n = 133
Execution time HH:MM:SS:  0:00:00.880358
592 finished

Jit Time Compute User Vector: n = 70
Execution time HH:MM:SS:  0:00:00.457585
593 finished

Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.478150
594 finished

Jit Time Compute User Vector: n = 163
Execution time HH:MM:SS:  0:00:01.130863
595 finished

Jit Time Compute User Vector: n = 487
Execution time HH:MM:SS:  0:00:03.905727
596 finished

Jit Time Compute User Vector: n = 202
Execution time HH:MM:SS:  0:00:01.475250
597 finished

Jit Time Compute User Vector: n = 312
Execution time HH:MM:SS:  0:00:02.321036
598 finished

ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 191
Execution time HH:MM:SS:  0:00:01.368641
599 finished

Jit Time Compute User Vector: n = 35
Execution time HH:MM:SS:  0:00:00.214046
600 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.288795
601 finished

Jit Time Compute User Vector: n = 129
Execution time HH:MM:SS:  0:00:00.868051
602 finished

Jit Time Compute User Vector: n = 114
Execution time HH:MM:SS:  0:00:00.738545
603 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.125623
604 finished

Jit Time Compute User Vector: n = 437
Execution time HH:MM:SS:  0:00:03.476748
605 finished

ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 59
Execution time HH:MM:SS:  0:00:00.415420
606 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 426
Execution time HH:MM:SS:  0:00:03.362744
607 finished

Jit Time Compute User Vector: n = 296
Execution time HH:MM:SS:  0:00:02.195881
608 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 139
Execution time HH:MM:SS:  0:00:00.934518
609 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.525757
610 finished

ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.219233
611 finished

Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.435121
612 finished

Jit Time Compute User Vector: n = 53
Execution time HH:MM:SS:  0:00:00.334992
613 finished

Jit Time Compute User Vector: n = 99
Execution time HH:MM:SS:  0:00:00.673384
614 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 382
Execution time HH:MM:SS:  0:00:03.004119
615 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.254433
616 finished

Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.490168
617 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.195641
618 finished

Jit Time Compute User Vector: n = 43
Execution time HH:MM:SS:  0:00:00.274707
619 finished

ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 171
Execution time HH:MM:SS:  0:00:01.264694
620 finished

Jit Time Compute User Vector: n = 95
Execution time HH:MM:SS:  0:00:00.639416
621 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.182039
622 finished

Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.714782
623 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 3246   NaN
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1733
Execution time HH:MM:SS:  0:00:28.015076
624 finished

ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.415898
625 finished

Jit Time Compute User Vector: n = 150
Execution time HH:MM:SS:  0:00:01.016937
626 finished

Jit Time Compute User Vector: n = 194
Execution time HH:MM:SS:  0:00:01.396575
627 finished

Jit Time Compute User Vector: n = 87
Execution time HH:MM:SS:  0:00:00.585386
628 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.208746
629 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.143846
630 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.199636
631 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.242362
632 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.206826
633 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.130711
634 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.136182
635 finished

Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.179889
636 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.153820
637 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.121265
638 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.369553
639 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.304991
640 finished

Jit Time Compute User Vector: n = 140
Execution time HH:MM:SS:  0:00:00.920458
641 finished

Jit Time Compute User Vector: n = 36
Execution time HH:MM:SS:  0:00:00.223414
642 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.144844
643 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.239193
644 finished

Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.178161
645 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 168
Execution time HH:MM:SS:  0:00:01.187590
646 finished

Jit Time Compute User Vector: n = 150
Execution time HH:MM:SS:  0:00:00.997738
647 finished

Jit Time Compute User Vector: n = 256
Execution time HH:MM:SS:  0:00:01.908956
648 finished

Jit Time Compute User Vector: n = 90
Execution time HH:MM:SS:  0:00:00.610091
649 finished

Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.174195
650 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.125496
651 finished

Jit Time Compute User Vector: n = 267
Execution time HH:MM:SS:  0:00:01.925358
652 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.310661
653 finished

CSR Time Compute User Vector: n = 626
Execution time HH:MM:SS:  0:00:08.656552
654 finished

Jit Time Compute User Vector: n = 105
Execution time HH:MM:SS:  0:00:00.723593
655 finished

Jit Time Compute User Vector: n = 128
Execution time HH:MM:SS:  0:00:00.830936
656 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.122151
657 finished

Jit Time Compute User Vector: n = 60
Execution time HH:MM:SS:  0:00:00.361272
658 finished

Jit Time Compute User Vector: n = 142
Execution time HH:MM:SS:  0:00:00.959872
659 finished

ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 91
Execution time HH:MM:SS:  0:00:00.608567
660 finished

Jit Time Compute User Vector: n = 33
Execution time HH:MM:SS:  0:00:00.192077
661 finished

Jit Time Compute User Vector: n = 58
Execution time HH:MM:SS:  0:00:00.356264
662 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.155665
663 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 517
Execution time HH:MM:SS:  0:00:06.650818
664 finished

Jit Time Compute User Vector: n = 434
Execution time HH:MM:SS:  0:00:03.383645
665 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.235716
666 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.424445
667 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 19
Execution time HH:MM:SS:  0:00:00.110612
668 finished

Jit Time Compute User Vector: n = 37
Execution time HH:MM:SS:  0:00:00.223843
669 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.188727
670 finished

Jit Time Compute User Vector: n = 115
Execution time HH:MM:SS:  0:00:00.730028
671 finished

Wall time: 29min 16s

n = 200 -> 26.5 min <br>
n = 500 -> 29.16 min <br>
n = 700 -< 29.25 min <br>
n = 700 different timer -< 32.14 min <br>
n = 700, better csr to array -< 22.07 min <br>
n = 1000, better csr to array -< 19.25 min <br>
n = 1000, better csr to array, ssd enabled ram -< 18.50 min <br>
n = 1000, better csr to array, ssd enabled ram, sum(axis=0)  -< 15.29 min <br>

In [31]:
# VERSION 2 , n= 700

userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))


# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


@njit(fastmath=True, parallel=True)
def create_user_vector_jit(user_rated_movies_vector_array):
    user_vector = user_rated_movies_vector_array[0]

    for x in user_rated_movies_vector_array[1:]:
        user_vector = user_vector + x
    
    return user_vector 


# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}

def create_user_vectors():
    for uid in userid_list:
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        
        user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
        n = user_rated_movies_vector_list.shape[0]
        
        if n > 700:
            print("CSR Time Compute User Vector: n = " + str(n))
            start = timer()

            user_vector = user_rated_movies_vector_list[0]
            for x in user_rated_movies_vector_list[1:]:
                user_vector = user_vector + x

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")

        else:
            user_vectors_array = np.zeros(user_rated_movies_vector_list.shape)
            for i in range(n):
                user_vectors_array[i] = scipy.sparse.csr_matrix.toarray(user_rated_movies_vector_list[i])

            print("Jit Time Compute User Vector: n = " + str(n))
            start = timer()

            user_vector = create_user_vector_jit(user_vectors_array)

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            
            user_norm = sklearn.preprocessing.normalize(scipy.sparse.csr_matrix(user_vector))
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")


%time create_user_vectors()

= 126
Execution time HH:MM:SS:  0:00:00.803896
496 finished

Jit Time Compute User Vector: n = 105
Execution time HH:MM:SS:  0:00:00.662545
497 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.120822
498 finished

Jit Time Compute User Vector: n = 33
Execution time HH:MM:SS:  0:00:00.193430
499 finished

ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 248
Execution time HH:MM:SS:  0:00:01.801789
500 finished

Jit Time Compute User Vector: n = 203
Execution time HH:MM:SS:  0:00:01.319156
501 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 112
Execution time HH:MM:SS:  0:00:00.694147
502 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.265065
503 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.141961
504 finished

Jit Time Compute User Vector: n = 395
Execution time HH:MM:SS:  0:00:02.985642
505 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.143040
506 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.229716
507 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.291222
508 finished

CSR Time Compute User Vector: n = 923
Execution time HH:MM:SS:  0:00:12.577961
509 finished

Jit Time Compute User Vector: n = 161
Execution time HH:MM:SS:  0:00:01.090531
510 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.194106
511 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.154782
512 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.126768
513 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 375
Execution time HH:MM:SS:  0:00:02.742128
514 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.202483
515 finished

Jit Time Compute User Vector: n = 149
Execution time HH:MM:SS:  0:00:00.986553
516 finished

Jit Time Compute User Vector: n = 42
Execution time HH:MM:SS:  0:00:00.250094
517 finished

CSR Time Compute User Vector: n = 707
Execution time HH:MM:SS:  0:00:09.310084
518 finished

Jit Time Compute User Vector: n = 160
Execution time HH:MM:SS:  0:00:01.097481
519 finished

Jit Time Compute User Vector: n = 154
Execution time HH:MM:SS:  0:00:01.028947
520 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.285531
521 finished

Jit Time Compute User Vector: n = 250
Execution time HH:MM:SS:  0:00:01.836114
522 finished

ValueError tmdbId: 3598    17882.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 125
Execution time HH:MM:SS:  0:00:00.831180
523 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.393953
524 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:00.910235
525 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.154504
526 finished

ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 134
Execution time HH:MM:SS:  0:00:00.907116
527 finished

Jit Time Compute User Vector: n = 127
Execution time HH:MM:SS:  0:00:00.813671
528 finished

ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 602
Execution time HH:MM:SS:  0:00:04.733295
529 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.479223
530 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 131
Execution time HH:MM:SS:  0:00:00.840107
531 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.299157
532 finished

Jit Time Compute User Vector: n = 163
Execution time HH:MM:SS:  0:00:01.132361
533 finished

Jit Time Compute User Vector: n = 303
Execution time HH:MM:SS:  0:00:02.211308
534 finished

Jit Time Compute User Vector: n = 63
Execution time HH:MM:SS:  0:00:00.435400
535 finished

Jit Time Compute User Vector: n = 109
Execution time HH:MM:SS:  0:00:00.689407
536 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 306
Execution time HH:MM:SS:  0:00:02.223724
537 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.168317
538 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.176698
539 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.134505
540 finished

Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.173176
541 finished

ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 62
Execution time HH:MM:SS:  0:00:00.367980
542 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.268653
543 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 264
Execution time HH:MM:SS:  0:00:01.933142
544 finished

Jit Time Compute User Vector: n = 92
Execution time HH:MM:SS:  0:00:00.569356
545 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.386975
546 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8111    53803.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 9062    374454.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 2386
Execution time HH:MM:SS:  0:00:40.413204
547 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:00.929930
548 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.133799
549 finished

Jit Time Compute User Vector: n = 135
Execution time HH:MM:SS:  0:00:00.910645
550 finished

Jit Time Compute User Vector: n = 85
Execution time HH:MM:SS:  0:00:00.524896
551 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.248394
552 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 199
Execution time HH:MM:SS:  0:00:01.359041
553 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.407606
554 finished

Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.460431
555 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.156094
556 finished

Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.407679
557 finished

Jit Time Compute User Vector: n = 215
Execution time HH:MM:SS:  0:00:01.539238
558 finished

Jit Time Compute User Vector: n = 129
Execution time HH:MM:SS:  0:00:00.857200
559 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:00.659129
560 finished

Jit Time Compute User Vector: n = 296
Execution time HH:MM:SS:  0:00:02.155250
561 finished

Jit Time Compute User Vector: n = 253
Execution time HH:MM:SS:  0:00:01.827740
562 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 156
Execution time HH:MM:SS:  0:00:01.087346
563 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1866
Execution time HH:MM:SS:  0:00:30.975417
564 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.162425
565 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.134183
566 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.218343
567 finished

Jit Time Compute User Vector: n = 37
Execution time HH:MM:SS:  0:00:00.236135
568 finished

Jit Time Compute User Vector: n = 85
Execution time HH:MM:SS:  0:00:00.534233
569 finished

Jit Time Compute User Vector: n = 128
Execution time HH:MM:SS:  0:00:00.893819
570 finished

Jit Time Compute User Vector: n = 59
Execution time HH:MM:SS:  0:00:00.370175
571 finished

Jit Time Compute User Vector: n = 106
Execution time HH:MM:SS:  0:00:00.700425
572 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.240603
573 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 340
Execution time HH:MM:SS:  0:00:02.524578
574 finished

Jit Time Compute User Vector: n = 547
Execution time HH:MM:SS:  0:00:04.341239
575 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.238753
576 finished

Jit Time Compute User Vector: n = 279
Execution time HH:MM:SS:  0:00:02.006592
577 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.235828
578 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.144686
579 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 921
Execution time HH:MM:SS:  0:00:13.381946
580 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.295463
581 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 137
Execution time HH:MM:SS:  0:00:00.945331
582 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.119238
583 finished

ValueError tmdbId: 5933    2518.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 192
Execution time HH:MM:SS:  0:00:01.308774
584 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 299
Execution time HH:MM:SS:  0:00:02.130106
585 finished

Jit Time Compute User Vector: n = 57
Execution time HH:MM:SS:  0:00:00.370365
586 finished

ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 502
Execution time HH:MM:SS:  0:00:03.949813
587 finished

Jit Time Compute User Vector: n = 52
Execution time HH:MM:SS:  0:00:00.329892
588 finished

Jit Time Compute User Vector: n = 43
Execution time HH:MM:SS:  0:00:00.258161
589 finished

Jit Time Compute User Vector: n = 89
Execution time HH:MM:SS:  0:00:00.561840
590 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.174426
591 finished

Jit Time Compute User Vector: n = 133
Execution time HH:MM:SS:  0:00:00.896690
592 finished

Jit Time Compute User Vector: n = 70
Execution time HH:MM:SS:  0:00:00.435252
593 finished

Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.476803
594 finished

Jit Time Compute User Vector: n = 163
Execution time HH:MM:SS:  0:00:01.074634
595 finished

Jit Time Compute User Vector: n = 487
Execution time HH:MM:SS:  0:00:03.782042
596 finished

Jit Time Compute User Vector: n = 202
Execution time HH:MM:SS:  0:00:01.422246
597 finished

Jit Time Compute User Vector: n = 312
Execution time HH:MM:SS:  0:00:02.256109
598 finished

ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 191
Execution time HH:MM:SS:  0:00:01.268545
599 finished

Jit Time Compute User Vector: n = 35
Execution time HH:MM:SS:  0:00:00.222906
600 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.280154
601 finished

Jit Time Compute User Vector: n = 129
Execution time HH:MM:SS:  0:00:00.848688
602 finished

Jit Time Compute User Vector: n = 114
Execution time HH:MM:SS:  0:00:00.740295
603 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.121360
604 finished

Jit Time Compute User Vector: n = 437
Execution time HH:MM:SS:  0:00:03.330978
605 finished

ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 59
Execution time HH:MM:SS:  0:00:00.367654
606 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 426
Execution time HH:MM:SS:  0:00:03.220940
607 finished

Jit Time Compute User Vector: n = 296
Execution time HH:MM:SS:  0:00:02.118955
608 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 139
Execution time HH:MM:SS:  0:00:00.937840
609 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.522673
610 finished

ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.214669
611 finished

Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.404325
612 finished

Jit Time Compute User Vector: n = 53
Execution time HH:MM:SS:  0:00:00.322991
613 finished

Jit Time Compute User Vector: n = 99
Execution time HH:MM:SS:  0:00:00.630946
614 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 382
Execution time HH:MM:SS:  0:00:02.862323
615 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.277924
616 finished

Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.478270
617 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.194968
618 finished

Jit Time Compute User Vector: n = 43
Execution time HH:MM:SS:  0:00:00.262277
619 finished

ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 171
Execution time HH:MM:SS:  0:00:01.145953
620 finished

Jit Time Compute User Vector: n = 95
Execution time HH:MM:SS:  0:00:00.606857
621 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.177327
622 finished

Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.656348
623 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 3246   NaN
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1733
Execution time HH:MM:SS:  0:00:27.852010
624 finished

ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.407860
625 finished

Jit Time Compute User Vector: n = 150
Execution time HH:MM:SS:  0:00:01.057273
626 finished

Jit Time Compute User Vector: n = 194
Execution time HH:MM:SS:  0:00:01.340617
627 finished

Jit Time Compute User Vector: n = 87
Execution time HH:MM:SS:  0:00:00.543606
628 finished

Jit Time Compute User Vector: n = 34
Execution time HH:MM:SS:  0:00:00.212500
629 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.138111
630 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.192676
631 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.245704
632 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.205874
633 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.137869
634 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.135391
635 finished

Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.184587
636 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.148475
637 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.122141
638 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.347238
639 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.302789
640 finished

Jit Time Compute User Vector: n = 140
Execution time HH:MM:SS:  0:00:00.980870
641 finished

Jit Time Compute User Vector: n = 36
Execution time HH:MM:SS:  0:00:00.230973
642 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.142541
643 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.239917
644 finished

Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.184919
645 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 168
Execution time HH:MM:SS:  0:00:01.114093
646 finished

Jit Time Compute User Vector: n = 150
Execution time HH:MM:SS:  0:00:01.024392
647 finished

Jit Time Compute User Vector: n = 256
Execution time HH:MM:SS:  0:00:01.875725
648 finished

Jit Time Compute User Vector: n = 90
Execution time HH:MM:SS:  0:00:00.560723
649 finished

Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.170964
650 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.118961
651 finished

Jit Time Compute User Vector: n = 267
Execution time HH:MM:SS:  0:00:01.939621
652 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.306699
653 finished

Jit Time Compute User Vector: n = 626
Execution time HH:MM:SS:  0:00:05.042682
654 finished

Jit Time Compute User Vector: n = 105
Execution time HH:MM:SS:  0:00:00.683567
655 finished

Jit Time Compute User Vector: n = 128
Execution time HH:MM:SS:  0:00:00.858100
656 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.119758
657 finished

Jit Time Compute User Vector: n = 60
Execution time HH:MM:SS:  0:00:00.381505
658 finished

Jit Time Compute User Vector: n = 142
Execution time HH:MM:SS:  0:00:00.968482
659 finished

ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 91
Execution time HH:MM:SS:  0:00:00.581874
660 finished

Jit Time Compute User Vector: n = 33
Execution time HH:MM:SS:  0:00:00.210720
661 finished

Jit Time Compute User Vector: n = 58
Execution time HH:MM:SS:  0:00:00.355623
662 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.163012
663 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 517
Execution time HH:MM:SS:  0:00:04.043666
664 finished

Jit Time Compute User Vector: n = 434
Execution time HH:MM:SS:  0:00:03.321024
665 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.241964
666 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.435560
667 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 19
Execution time HH:MM:SS:  0:00:00.114317
668 finished

Jit Time Compute User Vector: n = 37
Execution time HH:MM:SS:  0:00:00.231102
669 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.187992
670 finished

Jit Time Compute User Vector: n = 115
Execution time HH:MM:SS:  0:00:00.778881
671 finished

Wall time: 29min 25s

In [35]:
# VERSION 2 , n= 700, different timer

userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))


# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


@njit(fastmath=True, parallel=True)
def create_user_vector_jit(user_rated_movies_vector_array):
    user_vector = user_rated_movies_vector_array[0]

    for x in user_rated_movies_vector_array[1:]:
        user_vector = user_vector + x
    
    return user_vector 


# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}

def create_user_vectors():
    for uid in userid_list:
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        
        user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
        n = user_rated_movies_vector_list.shape[0]
        
        if n > 700:
            print("CSR Time Compute User Vector: n = " + str(n))
            start = timer()

            user_vector = user_rated_movies_vector_list[0]
            for x in user_rated_movies_vector_list[1:]:
                user_vector = user_vector + x

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")

        else:
            print("Jit Time Compute User Vector: n = " + str(n))
            start = timer()

            #user_vectors_array = np.zeros(user_rated_movies_vector_list.shape)
            user_vectors_array = scipy.sparse.csr_matrix.toarray(user_rated_movies_vector_list)
            user_vectors_array.reshape(user_rated_movies_vector_list.shape)

            user_vector = create_user_vector_jit(user_vectors_array)

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            
            user_norm = sklearn.preprocessing.normalize(scipy.sparse.csr_matrix(user_vector))
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")


%time create_user_vectors()

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:03.450170
1 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.547125
2 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.420160
3 finished

Jit Time Compute User Vector: n = 204
Execution time HH:MM:SS:  0:00:01.608784
4 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.108949
5 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.469198
6 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 87
Execution time HH:MM:SS:  0:00:00.653616
7 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:00.970118
8 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.467000
9 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.409489
10 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.319473
11 finished

Jit Time Compute User Vector: n = 61
Execution time HH:MM:SS:  0:00:00.527940
12 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 52
Execution time HH:MM:SS:  0:00:00.470487
13 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.253388
14 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1697
Execution time HH:MM:SS:  0:00:27.214078
15 finished

Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.206011
16 finished

Jit Time Compute User Vector: n = 363
Execution time HH:MM:SS:  0:00:02.839570
17 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.855926
18 finished

Jit Time Compute User Vector: n = 423
Execution time HH:MM:SS:  0:00:03.793322
19 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 97
Execution time HH:MM:SS:  0:00:01.387768
20 finished

Jit Time Compute User Vector: n = 162
Execution time HH:MM:SS:  0:00:01.396486
21 finished

Jit Time Compute User Vector: n = 220
Execution time HH:MM:SS:  0:00:02.019302
22 finished

CSR Time Compute User Vector: n = 726
Execution time HH:MM:SS:  0:00:11.764756
23 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.477809
24 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.237790
25 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 171
Execution time HH:MM:SS:  0:00:01.354510
26 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.415635
27 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.375611
28 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.212704
29 finished

ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1010
Execution time HH:MM:SS:  0:00:14.772110
30 finished

Jit Time Compute User Vector: n = 69
Execution time HH:MM:SS:  0:00:00.509383
31 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.502826
32 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:01.117899
33 finished

Jit Time Compute User Vector: n = 187
Execution time HH:MM:SS:  0:00:01.686575
34 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.372702
35 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.883070
36 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.380552
37 finished

ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 110
Execution time HH:MM:SS:  0:00:00.867557
38 finished

Jit Time Compute User Vector: n = 62
Execution time HH:MM:SS:  0:00:00.555592
39 finished

Jit Time Compute User Vector: n = 43
Execution time HH:MM:SS:  0:00:00.339024
40 finished

Jit Time Compute User Vector: n = 199
Execution time HH:MM:SS:  0:00:01.519841
41 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 69
Execution time HH:MM:SS:  0:00:00.837690
42 finished

Jit Time Compute User Vector: n = 110
Execution time HH:MM:SS:  0:00:00.977259
43 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.342129
44 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.221409
45 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.348198
46 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.371651
47 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 511
Execution time HH:MM:SS:  0:00:04.179126
48 finished

Jit Time Compute User Vector: n = 99
Execution time HH:MM:SS:  0:00:01.591761
49 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.503274
50 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.320504
51 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.593090
52 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.480265
53 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.431702
54 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.386976
55 finished

Jit Time Compute User Vector: n = 522
Execution time HH:MM:SS:  0:00:04.489889
56 finished

Jit Time Compute User Vector: n = 209
Execution time HH:MM:SS:  0:00:02.515035
57 finished

Jit Time Compute User Vector: n = 73
Execution time HH:MM:SS:  0:00:00.902565
58 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.747615
59 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 54
Execution time HH:MM:SS:  0:00:00.566857
60 finished

Jit Time Compute User Vector: n = 166
Execution time HH:MM:SS:  0:00:01.483442
61 finished

Jit Time Compute User Vector: n = 53
Execution time HH:MM:SS:  0:00:00.649490
62 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 96
Execution time HH:MM:SS:  0:00:00.905765
63 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.325182
64 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.290442
65 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.515746
66 finished

Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.974781
67 finished

Jit Time Compute User Vector: n = 123
Execution time HH:MM:SS:  0:00:01.193221
68 finished

Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.868043
69 finished

Jit Time Compute User Vector: n = 83
Execution time HH:MM:SS:  0:00:00.797317
70 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.289012
71 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.638906
72 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6086    185441.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6784    244797.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7438   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9118    410612.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1602
Execution time HH:MM:SS:  0:00:30.702550
73 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.610536
74 finished

Jit Time Compute User Vector: n = 145
Execution time HH:MM:SS:  0:00:01.198242
75 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.371870
76 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 314
Execution time HH:MM:SS:  0:00:02.604530
77 finished

Jit Time Compute User Vector: n = 263
Execution time HH:MM:SS:  0:00:02.692015
78 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.794604
79 finished

Jit Time Compute User Vector: n = 37
Execution time HH:MM:SS:  0:00:00.417884
80 finished

Jit Time Compute User Vector: n = 160
Execution time HH:MM:SS:  0:00:01.409713
81 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.558133
82 finished

Jit Time Compute User Vector: n = 161
Execution time HH:MM:SS:  0:00:01.429098
83 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:01.147622
84 finished

Jit Time Compute User Vector: n = 107
Execution time HH:MM:SS:  0:00:01.002892
85 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.675562
86 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.524419
87 finished

Jit Time Compute User Vector: n = 255
Execution time HH:MM:SS:  0:00:02.142730
88 finished

Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.948750
89 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.498327
90 finished

ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 149
Execution time HH:MM:SS:  0:00:01.290817
91 finished

Jit Time Compute User Vector: n = 123
Execution time HH:MM:SS:  0:00:01.180403
92 finished

Jit Time Compute User Vector: n = 159
Execution time HH:MM:SS:  0:00:01.517499
93 finished

Jit Time Compute User Vector: n = 196
Execution time HH:MM:SS:  0:00:01.971674
94 finished

Jit Time Compute User Vector: n = 299
Execution time HH:MM:SS:  0:00:02.760677
95 finished

Jit Time Compute User Vector: n = 76
Execution time HH:MM:SS:  0:00:01.098643
96 finished

Jit Time Compute User Vector: n = 128
Execution time HH:MM:SS:  0:00:01.191865
97 finished

Jit Time Compute User Vector: n = 71
Execution time HH:MM:SS:  0:00:00.753808
98 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 187
Execution time HH:MM:SS:  0:00:01.727214
99 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.507524
100 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 54
Execution time HH:MM:SS:  0:00:00.494669
101 finished

Jit Time Compute User Vector: n = 678
Execution time HH:MM:SS:  0:00:14.823259
102 finished

Jit Time Compute User Vector: n = 94
Execution time HH:MM:SS:  0:00:01.849692
103 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.767385
104 finished

Jit Time Compute User Vector: n = 525
Execution time HH:MM:SS:  0:00:04.650971
105 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:01.241223
106 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.352018
107 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.308016
108 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.223190
109 finished

Jit Time Compute User Vector: n = 120
Execution time HH:MM:SS:  0:00:01.006344
110 finished

Jit Time Compute User Vector: n = 341
Execution time HH:MM:SS:  0:00:02.956706
111 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.693246
112 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.273523
113 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.268618
114 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.401513
115 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.317944
116 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.493707
117 finished

Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.701440
118 finished

Jit Time Compute User Vector: n = 641
Execution time HH:MM:SS:  0:00:06.145083
119 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:02.180632
120 finished

Jit Time Compute User Vector: n = 80
Execution time HH:MM:SS:  0:00:00.812284
121 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.430683
122 finished

Jit Time Compute User Vector: n = 33
Execution time HH:MM:SS:  0:00:00.327873
123 finished

Jit Time Compute User Vector: n = 85
Execution time HH:MM:SS:  0:00:00.758510
124 finished

Jit Time Compute User Vector: n = 210
Execution time HH:MM:SS:  0:00:01.907312
125 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.804719
126 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.303657
127 finished

Jit Time Compute User Vector: n = 323
Execution time HH:MM:SS:  0:00:02.747011
128 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.814780
129 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 374
Execution time HH:MM:SS:  0:00:03.185378
130 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.907391
131 finished

Jit Time Compute User Vector: n = 94
Execution time HH:MM:SS:  0:00:00.830097
132 finished

Jit Time Compute User Vector: n = 178
Execution time HH:MM:SS:  0:00:01.523129
133 finished

Jit Time Compute User Vector: n = 311
Execution time HH:MM:SS:  0:00:02.857295
134 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.667937
135 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.460476
136 finished

Jit Time Compute User Vector: n = 80
Execution time HH:MM:SS:  0:00:00.760132
137 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 79
Execution time HH:MM:SS:  0:00:00.778866
138 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.747676
139 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.500837
140 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.400267
141 finished

Jit Time Compute User Vector: n = 61
Execution time HH:MM:SS:  0:00:00.579552
142 finished

Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.725820
143 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.484150
144 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.393302
145 finished

Jit Time Compute User Vector: n = 73
Execution time HH:MM:SS:  0:00:00.669618
146 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.425924
147 finished

Jit Time Compute User Vector: n = 132
Execution time HH:MM:SS:  0:00:01.208551
148 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 230
Execution time HH:MM:SS:  0:00:02.125982
149 finished

Jit Time Compute User Vector: n = 413
Execution time HH:MM:SS:  0:00:03.936930
150 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:01.167416
151 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 216
Execution time HH:MM:SS:  0:00:01.975375
152 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.652151
153 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.295755
154 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.452410
155 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.376519
156 finished

Jit Time Compute User Vector: n = 326
Execution time HH:MM:SS:  0:00:02.859037
157 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.747809
158 finished

Jit Time Compute User Vector: n = 148
Execution time HH:MM:SS:  0:00:01.289084
159 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.008657
160 finished

Jit Time Compute User Vector: n = 90
Execution time HH:MM:SS:  0:00:00.885782
161 finished

Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.360306
162 finished

Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.732425
163 finished

Jit Time Compute User Vector: n = 82
Execution time HH:MM:SS:  0:00:00.778500
164 finished

Jit Time Compute User Vector: n = 487
Execution time HH:MM:SS:  0:00:04.231257
165 finished

Jit Time Compute User Vector: n = 56
Execution time HH:MM:SS:  0:00:01.271357
166 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.268267
167 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:01.016056
168 finished

Jit Time Compute User Vector: n = 113
Execution time HH:MM:SS:  0:00:00.975387
169 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.338459
170 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.352597
171 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.257124
172 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.314262
173 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.223473
174 finished

Jit Time Compute User Vector: n = 125
Execution time HH:MM:SS:  0:00:00.914036
175 finished

Jit Time Compute User Vector: n = 256
Execution time HH:MM:SS:  0:00:02.337481
176 finished

Jit Time Compute User Vector: n = 224
Execution time HH:MM:SS:  0:00:02.263303
177 finished

Jit Time Compute User Vector: n = 130
Execution time HH:MM:SS:  0:00:01.339768
178 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.474121
179 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.271211
180 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.274652
181 finished

Jit Time Compute User Vector: n = 131
Execution time HH:MM:SS:  0:00:01.146953
182 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.506723
183 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.430542
184 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 203
Execution time HH:MM:SS:  0:00:01.770307
185 finished

Jit Time Compute User Vector: n = 42
Execution time HH:MM:SS:  0:00:00.619775
186 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 323
Execution time HH:MM:SS:  0:00:02.744862
187 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.340703
188 finished

Jit Time Compute User Vector: n = 176
Execution time HH:MM:SS:  0:00:01.614667
189 finished

Jit Time Compute User Vector: n = 60

In [36]:
# VERSION 2 , n= 1000, different timer

userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))


# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


@njit(fastmath=True, parallel=True)
def create_user_vector_jit(user_rated_movies_vector_array):
    user_vector = user_rated_movies_vector_array[0]

    for x in user_rated_movies_vector_array[1:]:
        user_vector = user_vector + x
    
    return user_vector 


# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}

def create_user_vectors():
    for uid in userid_list:
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        
        user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
        n = user_rated_movies_vector_list.shape[0]
        
        if n > 1000:
            print("CSR Time Compute User Vector: n = " + str(n))
            start = timer()

            user_vector = user_rated_movies_vector_list[0]
            for x in user_rated_movies_vector_list[1:]:
                user_vector = user_vector + x

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")

        else:
            print("Jit Time Compute User Vector: n = " + str(n))
            start = timer()

            #user_vectors_array = np.zeros(user_rated_movies_vector_list.shape)
            user_vectors_array = scipy.sparse.csr_matrix.toarray(user_rated_movies_vector_list)
            user_vectors_array.reshape(user_rated_movies_vector_list.shape)

            user_vector = create_user_vector_jit(user_vectors_array)

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            
            user_norm = sklearn.preprocessing.normalize(scipy.sparse.csr_matrix(user_vector))
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")


%time create_user_vectors()

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:02.653458
1 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.568206
2 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.455684
3 finished

Jit Time Compute User Vector: n = 204
Execution time HH:MM:SS:  0:00:01.655729
4 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.121359
5 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.496059
6 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 87
Execution time HH:MM:SS:  0:00:00.802804
7 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:01.247792
8 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.605134
9 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.444895
10 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.368870
11 finished

Jit Time Compute User Vector: n = 61
Execution time HH:MM:SS:  0:00:00.500224
12 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 52
Execution time HH:MM:SS:  0:00:00.417231
13 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.226049
14 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1697
Execution time HH:MM:SS:  0:00:27.151552
15 finished

Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.219299
16 finished

Jit Time Compute User Vector: n = 363
Execution time HH:MM:SS:  0:00:02.776470
17 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.947764
18 finished

Jit Time Compute User Vector: n = 423
Execution time HH:MM:SS:  0:00:03.523596
19 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 97
Execution time HH:MM:SS:  0:00:01.327121
20 finished

Jit Time Compute User Vector: n = 162
Execution time HH:MM:SS:  0:00:01.433325
21 finished

Jit Time Compute User Vector: n = 220
Execution time HH:MM:SS:  0:00:02.006491
22 finished

Jit Time Compute User Vector: n = 726
Execution time HH:MM:SS:  0:00:08.341196
23 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:01.376619
24 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.239295
25 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 171
Execution time HH:MM:SS:  0:00:01.369341
26 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.390001
27 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.445702
28 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.270952
29 finished

ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1010
Execution time HH:MM:SS:  0:00:14.681892
30 finished

Jit Time Compute User Vector: n = 69
Execution time HH:MM:SS:  0:00:00.482589
31 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.413779
32 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:01.047503
33 finished

Jit Time Compute User Vector: n = 187
Execution time HH:MM:SS:  0:00:01.497215
34 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.411645
35 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.911897
36 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.380807
37 finished

ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 110
Execution time HH:MM:SS:  0:00:00.842447
38 finished

Jit Time Compute User Vector: n = 62
Execution time HH:MM:SS:  0:00:00.557168
39 finished

Jit Time Compute User Vector: n = 43
Execution time HH:MM:SS:  0:00:00.348836
40 finished

Jit Time Compute User Vector: n = 199
Execution time HH:MM:SS:  0:00:01.560310
41 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 69
Execution time HH:MM:SS:  0:00:00.771755
42 finished

Jit Time Compute User Vector: n = 110
Execution time HH:MM:SS:  0:00:00.975487
43 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.363478
44 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.215132
45 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.358839
46 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.385693
47 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 511
Execution time HH:MM:SS:  0:00:04.131441
48 finished

Jit Time Compute User Vector: n = 99
Execution time HH:MM:SS:  0:00:01.556785
49 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.494959
50 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.331327
51 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.528450
52 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.406009
53 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.397403
54 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.370927
55 finished

Jit Time Compute User Vector: n = 522
Execution time HH:MM:SS:  0:00:04.433198
56 finished

Jit Time Compute User Vector: n = 209
Execution time HH:MM:SS:  0:00:02.619512
57 finished

Jit Time Compute User Vector: n = 73
Execution time HH:MM:SS:  0:00:00.839926
58 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.739407
59 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 54
Execution time HH:MM:SS:  0:00:00.519361
60 finished

Jit Time Compute User Vector: n = 166
Execution time HH:MM:SS:  0:00:01.450519
61 finished

Jit Time Compute User Vector: n = 53
Execution time HH:MM:SS:  0:00:00.591376
62 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 96
Execution time HH:MM:SS:  0:00:00.851032
63 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.298330
64 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.277769
65 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.457389
66 finished

Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.885013
67 finished

Jit Time Compute User Vector: n = 123
Execution time HH:MM:SS:  0:00:01.107890
68 finished

Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.782882
69 finished

Jit Time Compute User Vector: n = 83
Execution time HH:MM:SS:  0:00:00.804808
70 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.293324
71 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.585405
72 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6086    185441.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6784    244797.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7438   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9118    410612.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1602
Execution time HH:MM:SS:  0:00:27.106309
73 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.540112
74 finished

Jit Time Compute User Vector: n = 145
Execution time HH:MM:SS:  0:00:01.174978
75 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.330001
76 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 314
Execution time HH:MM:SS:  0:00:02.449923
77 finished

Jit Time Compute User Vector: n = 263
Execution time HH:MM:SS:  0:00:02.585408
78 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.793904
79 finished

Jit Time Compute User Vector: n = 37
Execution time HH:MM:SS:  0:00:00.388008
80 finished

Jit Time Compute User Vector: n = 160
Execution time HH:MM:SS:  0:00:01.403338
81 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.496625
82 finished

Jit Time Compute User Vector: n = 161
Execution time HH:MM:SS:  0:00:01.414435
83 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:01.159430
84 finished

Jit Time Compute User Vector: n = 107
Execution time HH:MM:SS:  0:00:01.039991
85 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.729877
86 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.476285
87 finished

Jit Time Compute User Vector: n = 255
Execution time HH:MM:SS:  0:00:02.155806
88 finished

Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.970378
89 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.518549
90 finished

ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 149
Execution time HH:MM:SS:  0:00:01.488330
91 finished

Jit Time Compute User Vector: n = 123
Execution time HH:MM:SS:  0:00:01.235996
92 finished

Jit Time Compute User Vector: n = 159
Execution time HH:MM:SS:  0:00:01.429483
93 finished

Jit Time Compute User Vector: n = 196
Execution time HH:MM:SS:  0:00:01.724026
94 finished

Jit Time Compute User Vector: n = 299
Execution time HH:MM:SS:  0:00:02.772394
95 finished

Jit Time Compute User Vector: n = 76
Execution time HH:MM:SS:  0:00:01.019189
96 finished

Jit Time Compute User Vector: n = 128
Execution time HH:MM:SS:  0:00:01.116948
97 finished

Jit Time Compute User Vector: n = 71
Execution time HH:MM:SS:  0:00:00.806569
98 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 187
Execution time HH:MM:SS:  0:00:01.727425
99 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.432216
100 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 54
Execution time HH:MM:SS:  0:00:00.477313
101 finished

Jit Time Compute User Vector: n = 678
Execution time HH:MM:SS:  0:00:06.053068
102 finished

Jit Time Compute User Vector: n = 94
Execution time HH:MM:SS:  0:00:01.706645
103 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.704306
104 finished

Jit Time Compute User Vector: n = 525
Execution time HH:MM:SS:  0:00:04.771836
105 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:01.135300
106 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.328179
107 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.324540
108 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.243419
109 finished

Jit Time Compute User Vector: n = 120
Execution time HH:MM:SS:  0:00:01.077075
110 finished

Jit Time Compute User Vector: n = 341
Execution time HH:MM:SS:  0:00:03.114118
111 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.652387
112 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.257944
113 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.266703
114 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.382998
115 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.292318
116 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.493116
117 finished

Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.686047
118 finished

Jit Time Compute User Vector: n = 641
Execution time HH:MM:SS:  0:00:06.028441
119 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:02.129701
120 finished

Jit Time Compute User Vector: n = 80
Execution time HH:MM:SS:  0:00:00.803876
121 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.440357
122 finished

Jit Time Compute User Vector: n = 33
Execution time HH:MM:SS:  0:00:00.322791
123 finished

Jit Time Compute User Vector: n = 85
Execution time HH:MM:SS:  0:00:00.721763
124 finished

Jit Time Compute User Vector: n = 210
Execution time HH:MM:SS:  0:00:01.811322
125 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.834476
126 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.305692
127 finished

Jit Time Compute User Vector: n = 323
Execution time HH:MM:SS:  0:00:02.646408
128 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.705630
129 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 374
Execution time HH:MM:SS:  0:00:03.179824
130 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.878451
131 finished

Jit Time Compute User Vector: n = 94
Execution time HH:MM:SS:  0:00:00.830707
132 finished

Jit Time Compute User Vector: n = 178
Execution time HH:MM:SS:  0:00:01.571145
133 finished

Jit Time Compute User Vector: n = 311
Execution time HH:MM:SS:  0:00:02.910791
134 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.663362
135 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.453927
136 finished

Jit Time Compute User Vector: n = 80
Execution time HH:MM:SS:  0:00:00.719813
137 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 79
Execution time HH:MM:SS:  0:00:00.743568
138 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.648372
139 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.480191
140 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.327000
141 finished

Jit Time Compute User Vector: n = 61
Execution time HH:MM:SS:  0:00:00.487371
142 finished

Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.596940
143 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.395329
144 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.290364
145 finished

Jit Time Compute User Vector: n = 73
Execution time HH:MM:SS:  0:00:00.535912
146 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.344035
147 finished

Jit Time Compute User Vector: n = 132
Execution time HH:MM:SS:  0:00:00.961006
148 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 230
Execution time HH:MM:SS:  0:00:01.975310
149 finished

Jit Time Compute User Vector: n = 413
Execution time HH:MM:SS:  0:00:03.558368
150 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:01.281119
151 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 216
Execution time HH:MM:SS:  0:00:01.883366
152 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.682385
153 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.296742
154 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.456800
155 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.426703
156 finished

Jit Time Compute User Vector: n = 326
Execution time HH:MM:SS:  0:00:02.757111
157 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.617322
158 finished

Jit Time Compute User Vector: n = 148
Execution time HH:MM:SS:  0:00:01.281893
159 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.038788
160 finished

Jit Time Compute User Vector: n = 90
Execution time HH:MM:SS:  0:00:00.843128
161 finished

Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.361591
162 finished

Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.693435
163 finished

Jit Time Compute User Vector: n = 82
Execution time HH:MM:SS:  0:00:00.748510
164 finished

Jit Time Compute User Vector: n = 487
Execution time HH:MM:SS:  0:00:04.297010
165 finished

Jit Time Compute User Vector: n = 56
Execution time HH:MM:SS:  0:00:01.142329
166 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.336363
167 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:01.007499
168 finished

Jit Time Compute User Vector: n = 113
Execution time HH:MM:SS:  0:00:01.067758
169 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.342760
170 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.446615
171 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.266880
172 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.381101
173 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.234343
174 finished

Jit Time Compute User Vector: n = 125
Execution time HH:MM:SS:  0:00:01.068751
175 finished

Jit Time Compute User Vector: n = 256
Execution time HH:MM:SS:  0:00:02.281089
176 finished

Jit Time Compute User Vector: n = 224
Execution time HH:MM:SS:  0:00:02.175226
177 finished

Jit Time Compute User Vector: n = 130
Execution time HH:MM:SS:  0:00:01.328042
178 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.506891
179 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.215110
180 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.237053
181 finished

Jit Time Compute User Vector: n = 131
Execution time HH:MM:SS:  0:00:01.004820
182 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.421115
183 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.340105
184 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 203
Execution time HH:MM:SS:  0:00:01.620660
185 finished

Jit Time Compute User Vector: n = 42
Execution time HH:MM:SS:  0:00:00.551627
186 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 323
Execution time HH:MM:SS:  0:00:02.611547
187 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.296657
188 finished

Jit Time Compute User Vector: n = 176
Execution time HH:MM:SS:  0:00:01.441387
189 finished

Jit Time Compute User Vector: n = 60

In [5]:
# VERSION 2 , n= 1000, different timer, SSD enabled

userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))


# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


@njit(fastmath=True, parallel=True)
def create_user_vector_jit(user_rated_movies_vector_array):
    user_vector = user_rated_movies_vector_array[0]

    for x in user_rated_movies_vector_array[1:]:
        user_vector = user_vector + x
    
    return user_vector 


# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}

def create_user_vectors():
    for uid in userid_list:
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        
        user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
        n = user_rated_movies_vector_list.shape[0]
        
        if n > 1000:
            print("CSR Time Compute User Vector: n = " + str(n))
            start = timer()

            user_vector = user_rated_movies_vector_list[0]
            for x in user_rated_movies_vector_list[1:]:
                user_vector = user_vector + x

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")

        else:
            print("Jit Time Compute User Vector: n = " + str(n))
            start = timer()

            #user_vectors_array = np.zeros(user_rated_movies_vector_list.shape)
            user_vectors_array = scipy.sparse.csr_matrix.toarray(user_rated_movies_vector_list)
            user_vectors_array.reshape(user_rated_movies_vector_list.shape)

            user_vector = create_user_vector_jit(user_vectors_array)

            end = timer()
            print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            
            user_norm = sklearn.preprocessing.normalize(scipy.sparse.csr_matrix(user_vector))
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished\n")


%time create_user_vectors()

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.674572
1 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.558631
2 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.518659
3 finished

Jit Time Compute User Vector: n = 204
Execution time HH:MM:SS:  0:00:01.582623
4 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.113895
5 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.429718
6 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 87
Execution time HH:MM:SS:  0:00:00.886228
7 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:01.034496
8 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.488553
9 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.513416
10 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.346262
11 finished

Jit Time Compute User Vector: n = 61
Execution time HH:MM:SS:  0:00:00.486724
12 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 52
Execution time HH:MM:SS:  0:00:00.569098
13 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.270649
14 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1697
Execution time HH:MM:SS:  0:00:29.202026
15 finished

Jit Time Compute User Vector: n = 29
Execution time HH:MM:SS:  0:00:00.259296
16 finished

Jit Time Compute User Vector: n = 363
Execution time HH:MM:SS:  0:00:02.777075
17 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.680787
18 finished

Jit Time Compute User Vector: n = 423
Execution time HH:MM:SS:  0:00:03.173612
19 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 97
Execution time HH:MM:SS:  0:00:01.045141
20 finished

Jit Time Compute User Vector: n = 162
Execution time HH:MM:SS:  0:00:01.392541
21 finished

Jit Time Compute User Vector: n = 220
Execution time HH:MM:SS:  0:00:02.000070
22 finished

Jit Time Compute User Vector: n = 726
Execution time HH:MM:SS:  0:00:07.981226
23 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:01.119833
24 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.232968
25 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 171
Execution time HH:MM:SS:  0:00:01.442519
26 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.412508
27 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.480111
28 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.282808
29 finished

ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1010
Execution time HH:MM:SS:  0:00:15.138507
30 finished

Jit Time Compute User Vector: n = 69
Execution time HH:MM:SS:  0:00:00.473771
31 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.486073
32 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:00.982269
33 finished

Jit Time Compute User Vector: n = 187
Execution time HH:MM:SS:  0:00:01.495686
34 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.355731
35 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.719712
36 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.404640
37 finished

ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 110
Execution time HH:MM:SS:  0:00:00.945024
38 finished

Jit Time Compute User Vector: n = 62
Execution time HH:MM:SS:  0:00:00.562721
39 finished

Jit Time Compute User Vector: n = 43
Execution time HH:MM:SS:  0:00:00.381921
40 finished

Jit Time Compute User Vector: n = 199
Execution time HH:MM:SS:  0:00:01.439189
41 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 69
Execution time HH:MM:SS:  0:00:00.690510
42 finished

Jit Time Compute User Vector: n = 110
Execution time HH:MM:SS:  0:00:00.827677
43 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.342959
44 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.195520
45 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.302249
46 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.319517
47 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 511
Execution time HH:MM:SS:  0:00:03.791369
48 finished

Jit Time Compute User Vector: n = 99
Execution time HH:MM:SS:  0:00:01.190055
49 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.460301
50 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.324310
51 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.502863
52 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.406903
53 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.370898
54 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.342362
55 finished

Jit Time Compute User Vector: n = 522
Execution time HH:MM:SS:  0:00:03.918433
56 finished

Jit Time Compute User Vector: n = 209
Execution time HH:MM:SS:  0:00:02.084134
57 finished

Jit Time Compute User Vector: n = 73
Execution time HH:MM:SS:  0:00:00.759091
58 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.601708
59 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 54
Execution time HH:MM:SS:  0:00:00.478919
60 finished

Jit Time Compute User Vector: n = 166
Execution time HH:MM:SS:  0:00:01.199468
61 finished

Jit Time Compute User Vector: n = 53
Execution time HH:MM:SS:  0:00:00.499153
62 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 96
Execution time HH:MM:SS:  0:00:00.769755
63 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.412192
64 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.218724
65 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.402483
66 finished

Jit Time Compute User Vector: n = 103
Execution time HH:MM:SS:  0:00:00.841205
67 finished

Jit Time Compute User Vector: n = 123
Execution time HH:MM:SS:  0:00:00.984177
68 finished

Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.728745
69 finished

Jit Time Compute User Vector: n = 83
Execution time HH:MM:SS:  0:00:00.636067
70 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.243942
71 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.496171
72 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6086    185441.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6784    244797.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7438   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9118    410612.0
Name: tmdbId, dtype: float64
CSR Time Compute User Vector: n = 1602
Execution time HH:MM:SS:  0:00:25.565661
73 finished

Jit Time Compute User Vector: n = 49
Execution time HH:MM:SS:  0:00:00.499432
74 finished

Jit Time Compute User Vector: n = 145
Execution time HH:MM:SS:  0:00:01.090736
75 finished

Jit Time Compute User Vector: n = 20
Execution time HH:MM:SS:  0:00:00.314149
76 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 314
Execution time HH:MM:SS:  0:00:02.311734
77 finished

Jit Time Compute User Vector: n = 263
Execution time HH:MM:SS:  0:00:02.368662
78 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.673068
79 finished

Jit Time Compute User Vector: n = 37
Execution time HH:MM:SS:  0:00:00.399594
80 finished

Jit Time Compute User Vector: n = 160
Execution time HH:MM:SS:  0:00:01.144787
81 finished

Jit Time Compute User Vector: n = 39
Execution time HH:MM:SS:  0:00:00.473385
82 finished

Jit Time Compute User Vector: n = 161
Execution time HH:MM:SS:  0:00:01.328486
83 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:01.006863
84 finished

Jit Time Compute User Vector: n = 107
Execution time HH:MM:SS:  0:00:00.888616
85 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.569113
86 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.459169
87 finished

Jit Time Compute User Vector: n = 255
Execution time HH:MM:SS:  0:00:01.966015
88 finished

Jit Time Compute User Vector: n = 66
Execution time HH:MM:SS:  0:00:00.783921
89 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.444167
90 finished

ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 149
Execution time HH:MM:SS:  0:00:01.146083
91 finished

Jit Time Compute User Vector: n = 123
Execution time HH:MM:SS:  0:00:01.008563
92 finished

Jit Time Compute User Vector: n = 159
Execution time HH:MM:SS:  0:00:01.318695
93 finished

Jit Time Compute User Vector: n = 196
Execution time HH:MM:SS:  0:00:01.673805
94 finished

Jit Time Compute User Vector: n = 299
Execution time HH:MM:SS:  0:00:02.485519
95 finished

Jit Time Compute User Vector: n = 76
Execution time HH:MM:SS:  0:00:00.978653
96 finished

Jit Time Compute User Vector: n = 128
Execution time HH:MM:SS:  0:00:01.160220
97 finished

Jit Time Compute User Vector: n = 71
Execution time HH:MM:SS:  0:00:00.719919
98 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 187
Execution time HH:MM:SS:  0:00:01.645116
99 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.469985
100 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 54
Execution time HH:MM:SS:  0:00:00.397092
101 finished

Jit Time Compute User Vector: n = 678
Execution time HH:MM:SS:  0:00:06.002678
102 finished

Jit Time Compute User Vector: n = 94
Execution time HH:MM:SS:  0:00:01.603922
103 finished

ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 75
Execution time HH:MM:SS:  0:00:00.586971
104 finished

Jit Time Compute User Vector: n = 525
Execution time HH:MM:SS:  0:00:04.409929
105 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:01.058448
106 finished

Jit Time Compute User Vector: n = 32
Execution time HH:MM:SS:  0:00:00.317552
107 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.272914
108 finished

Jit Time Compute User Vector: n = 23
Execution time HH:MM:SS:  0:00:00.211921
109 finished

Jit Time Compute User Vector: n = 120
Execution time HH:MM:SS:  0:00:00.869417
110 finished

Jit Time Compute User Vector: n = 341
Execution time HH:MM:SS:  0:00:02.786520
111 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.681099
112 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.222828
113 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.238385
114 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.343313
115 finished

Jit Time Compute User Vector: n = 25
Execution time HH:MM:SS:  0:00:00.297330
116 finished

Jit Time Compute User Vector: n = 55
Execution time HH:MM:SS:  0:00:00.538950
117 finished

Jit Time Compute User Vector: n = 189
Execution time HH:MM:SS:  0:00:01.720885
118 finished

Jit Time Compute User Vector: n = 641
Execution time HH:MM:SS:  0:00:05.808152
119 finished

Jit Time Compute User Vector: n = 138
Execution time HH:MM:SS:  0:00:01.772032
120 finished

Jit Time Compute User Vector: n = 80
Execution time HH:MM:SS:  0:00:00.782424
121 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.381995
122 finished

Jit Time Compute User Vector: n = 33
Execution time HH:MM:SS:  0:00:00.306365
123 finished

Jit Time Compute User Vector: n = 85
Execution time HH:MM:SS:  0:00:00.683011
124 finished

Jit Time Compute User Vector: n = 210
Execution time HH:MM:SS:  0:00:01.729392
125 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.829481
126 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.277675
127 finished

Jit Time Compute User Vector: n = 323
Execution time HH:MM:SS:  0:00:02.679276
128 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.648645
129 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 374
Execution time HH:MM:SS:  0:00:02.849131
130 finished

Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.793824
131 finished

Jit Time Compute User Vector: n = 94
Execution time HH:MM:SS:  0:00:00.673617
132 finished

Jit Time Compute User Vector: n = 178
Execution time HH:MM:SS:  0:00:01.366743
133 finished

Jit Time Compute User Vector: n = 311
Execution time HH:MM:SS:  0:00:02.675355
134 finished

Jit Time Compute User Vector: n = 22
Execution time HH:MM:SS:  0:00:00.625975
135 finished

Jit Time Compute User Vector: n = 50
Execution time HH:MM:SS:  0:00:00.371281
136 finished

Jit Time Compute User Vector: n = 80
Execution time HH:MM:SS:  0:00:00.623199
137 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 79
Execution time HH:MM:SS:  0:00:00.740273
138 finished

Jit Time Compute User Vector: n = 68
Execution time HH:MM:SS:  0:00:00.621592
139 finished

Jit Time Compute User Vector: n = 46
Execution time HH:MM:SS:  0:00:00.416693
140 finished

Jit Time Compute User Vector: n = 31
Execution time HH:MM:SS:  0:00:00.287250
141 finished

Jit Time Compute User Vector: n = 61
Execution time HH:MM:SS:  0:00:00.441290
142 finished

Jit Time Compute User Vector: n = 77
Execution time HH:MM:SS:  0:00:00.625091
143 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.403012
144 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.359760
145 finished

Jit Time Compute User Vector: n = 73
Execution time HH:MM:SS:  0:00:00.571508
146 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.395632
147 finished

Jit Time Compute User Vector: n = 132
Execution time HH:MM:SS:  0:00:00.957900
148 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 230
Execution time HH:MM:SS:  0:00:01.840865
149 finished

Jit Time Compute User Vector: n = 413
Execution time HH:MM:SS:  0:00:03.600609
150 finished

Jit Time Compute User Vector: n = 64
Execution time HH:MM:SS:  0:00:00.922953
151 finished

ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 216
Execution time HH:MM:SS:  0:00:01.805986
152 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.690851
153 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.289674
154 finished

Jit Time Compute User Vector: n = 51
Execution time HH:MM:SS:  0:00:00.368927
155 finished

Jit Time Compute User Vector: n = 45
Execution time HH:MM:SS:  0:00:00.359843
156 finished

Jit Time Compute User Vector: n = 326
Execution time HH:MM:SS:  0:00:02.490524
157 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.529760
158 finished

Jit Time Compute User Vector: n = 148
Execution time HH:MM:SS:  0:00:01.010944
159 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:00.888801
160 finished

Jit Time Compute User Vector: n = 90
Execution time HH:MM:SS:  0:00:00.676925
161 finished

Jit Time Compute User Vector: n = 30
Execution time HH:MM:SS:  0:00:00.377264
162 finished

Jit Time Compute User Vector: n = 81
Execution time HH:MM:SS:  0:00:00.599501
163 finished

Jit Time Compute User Vector: n = 82
Execution time HH:MM:SS:  0:00:00.619142
164 finished

Jit Time Compute User Vector: n = 487
Execution time HH:MM:SS:  0:00:03.710622
165 finished

Jit Time Compute User Vector: n = 56
Execution time HH:MM:SS:  0:00:00.902154
166 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.264438
167 finished

Jit Time Compute User Vector: n = 116
Execution time HH:MM:SS:  0:00:00.848436
168 finished

Jit Time Compute User Vector: n = 113
Execution time HH:MM:SS:  0:00:00.905637
169 finished

Jit Time Compute User Vector: n = 26
Execution time HH:MM:SS:  0:00:00.324958
170 finished

Jit Time Compute User Vector: n = 48
Execution time HH:MM:SS:  0:00:00.352552
171 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.258657
172 finished

Jit Time Compute User Vector: n = 40
Execution time HH:MM:SS:  0:00:00.306627
173 finished

Jit Time Compute User Vector: n = 21
Execution time HH:MM:SS:  0:00:00.212551
174 finished

Jit Time Compute User Vector: n = 125
Execution time HH:MM:SS:  0:00:00.927201
175 finished

Jit Time Compute User Vector: n = 256
Execution time HH:MM:SS:  0:00:01.976199
176 finished

Jit Time Compute User Vector: n = 224
Execution time HH:MM:SS:  0:00:02.081215
177 finished

Jit Time Compute User Vector: n = 130
Execution time HH:MM:SS:  0:00:01.076624
178 finished

Jit Time Compute User Vector: n = 38
Execution time HH:MM:SS:  0:00:00.414727
179 finished

Jit Time Compute User Vector: n = 24
Execution time HH:MM:SS:  0:00:00.256636
180 finished

Jit Time Compute User Vector: n = 27
Execution time HH:MM:SS:  0:00:00.219273
181 finished

Jit Time Compute User Vector: n = 131
Execution time HH:MM:SS:  0:00:00.965766
182 finished

Jit Time Compute User Vector: n = 41
Execution time HH:MM:SS:  0:00:00.460447
183 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 44
Execution time HH:MM:SS:  0:00:00.391144
184 finished

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 203
Execution time HH:MM:SS:  0:00:01.782276
185 finished

Jit Time Compute User Vector: n = 42
Execution time HH:MM:SS:  0:00:00.547506
186 finished

ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Jit Time Compute User Vector: n = 323
Execution time HH:MM:SS:  0:00:02.390151
187 finished

Jit Time Compute User Vector: n = 100
Execution time HH:MM:SS:  0:00:01.135301
188 finished

Jit Time Compute User Vector: n = 176
Execution time HH:MM:SS:  0:00:01.317491
189 finished

Jit Time Compute User Vector: n = 60

In [6]:
# VERSION 2 , n= 1000 all jit, different timer, SSD, sum(axis=0)

userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))


# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


@njit(fastmath=True, parallel=False)
def create_user_vector_jit(user_rated_movies_vector_array):
    #user_vector = user_rated_movies_vector_array[0]

    #for x in user_rated_movies_vector_array[1:]:
    #    user_vector = user_vector + x
    
    user_vector = user_rated_movies_vector_array.sum(axis=0)
    return user_vector

# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}

def create_user_vectors():
    for uid in userid_list:
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        
        user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
        n = user_rated_movies_vector_list.shape[0]
        
        if n > 920:
            #print("CSR Time Compute User Vector: n = " + str(n))
            #start = timer()

            user_vector = user_rated_movies_vector_list[0]
            for x in user_rated_movies_vector_list[1:]:
                user_vector = user_vector + x

            #end = timer()
            #print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            #print(str(uid) + " finished\n")

        else:
            #print("Jit Time Compute User Vector: n = " + str(n))
            #start = timer()

            #user_vectors_array = np.zeros(user_rated_movies_vector_list.shape)
            user_vectors_array = scipy.sparse.csr_matrix.toarray(user_rated_movies_vector_list)
            user_vectors_array.reshape(user_rated_movies_vector_list.shape)

            user_vector = create_user_vector_jit(user_vectors_array)

            #end = timer()
            #print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            
            user_norm = sklearn.preprocessing.normalize(scipy.sparse.csr_matrix(user_vector))
            all_user_profiles[uid] = user_norm
            #print(str(uid) + " finished\n")


%time create_user_vectors()

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6086    185441.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6784    244797.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7438   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9118    410612.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3349    12773.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8505   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3925    68149.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7275    67479.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 910   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3925    68149.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7776    110639.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7588   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8271    156078.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7408   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8799    53285.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7519    61920.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 640   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 608   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3598    17882.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8111    53803.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 9062    374454.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5933    2518.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 3246   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 15min 34s

In [ ]:
no threading, sum(axis), parallel= true : 15,37 min
no threading, sum(axis), parallel= false : 15,34 min

In [16]:
tmdbId = 280

tmdbid_list = links_small['tmdbId'].to_list()
# changes movieId type to int and deletes all false entrys
tmdbid_list = [x for x in tmdbid_list if x.isdigit()]
tmdbid_list = list(map(int, movieid_list))

print("Time Compute User Vector np.where: " )
start = timer()
index = np.where(movieid_list == tmdbId)
end = timer()
print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))


print("Time Compute User Vector list.index: " )
start = timer()
tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == movieid_list[1337]]
end = timer()
print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

Time Compute User Vector np.where:
Execution time HH:MM:SS:  0:00:00.000061
Time Compute User Vector list.index:
Execution time HH:MM:SS:  0:00:00.001960

In [1]:
from concurrent.futures import ThreadPoolExecutor
import threading

In [7]:
# Threading
# VERSION 2 , n= 1000 all jit, different timer, SSD, sum(axis=0)

userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))


# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies


    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors


@njit(fastmath=True, nogil=True)
def create_user_vector_jit(user_rated_movies_vector_array):
    
    user_vector = user_rated_movies_vector_array.sum(axis=0)

    return user_vector

# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}
ram = 12    # in GB
count_to_big = 0

def create_user_vectors(uid):
    
    user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        
    user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
    n = user_rated_movies_vector_list.shape[0]

    # variable threshold (change ram)
    thresh = (n * user_rated_movies_vector_list.shape[1] / 8) * 64
    thresh_ram = ram * 1000000000   

    if thresh > thresh_ram:
        count_to_big += 1
        #print("CSR Time Compute User Vector: n = " + str(n))
        #start = timer()

        #user_vector = user_rated_movies_vector_list[0]
        #for x in user_rated_movies_vector_list[1:]:
        #        user_vector = user_vector + x

        #end = timer()
        #print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

        #user_norm = sklearn.preprocessing.normalize(user_vector)
        #all_user_profiles[uid] = user_norm
        #print(str(uid) + " finished")

    else:
        #print("Jit Time Compute User Vector: n = " + str(n))
        #start = timer()

        #user_vectors_array = np.zeros(user_rated_movies_vector_list.shape)
        user_vectors_array = scipy.sparse.csr_matrix.toarray(user_rated_movies_vector_list)
        user_vectors_array.reshape(user_rated_movies_vector_list.shape)

        user_vector = create_user_vector_jit(user_vectors_array)

        #end = timer()
        #print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

            
        user_norm = sklearn.preprocessing.normalize(scipy.sparse.csr_matrix(user_vector))
        all_user_profiles[uid] = user_norm
        #print(str(uid) + " finished")



start = timer()

with ThreadPoolExecutor(max_workers=5) as executer:
    executer.map(create_user_vectors, userid_list)

end = timer()
print ("Execution time HH:MM:SS: ",timedelta(seconds=end-start))

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64

ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6086    185441.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6784    244797.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7438   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9118    410612.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3349    12773.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8505   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3925    68149.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7275    67479.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 910   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3925    68149.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7776    110639.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7588   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8271    156078.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7408   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8799    53285.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 640   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7519    61920.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 608   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3598    17882.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8111    53803.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9062    374454.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5933    2518.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 3246   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
Execution time HH:MM:SS:  0:06:51.252412

In [5]:
Read Speed/ getting all vectors = 1.11 min

# +/- 30 s , because of other processes

Time Threading = 9.20 min
Time Threading 4 Worker = 10.10 min
Time Threading 8 Worker = 9.24 min

Time Threading 8 Worker(fixed, submit) = 15,25 min
Time Threading 12 Worker(fixed, submit) =  16,40 min

Time Threading 8 Worker(fixed, map) =  15,45 min

Time Threading 8 Worker(fixed, map, skip n > ram) =   13,15 min, 14 skipped
Time Threading 8 Worker(fixed, map, skip n > ram, stronger threshold) = 12,55 min, 15 skipped
Time Threading 8 Worker(fixed, map, skip n > ram, 15 ram available) = 12.46 min, 17 skipped
Time Threading 8 Worker(fixed, map, skip n > ram, 14 ram available) =  12.25 min, 17 skipped
Time Threading 8 Worker(fixed, map, skip n > ram, 13 ram available) =  12:49 min, 23 skipped

ca 356 min ~ 6 h of test runs 
(only documented after progress, first couple 30 min runs not counted)

-> MUltithreading works ?!?! <- njit doesnt work with MUltithreading
No njit( max_worker= 8,  ram=14) = 11:15
No njit( max_worker= 8,  ram=12) = 7:54 , 28 skipped 
No njit( max_worker= 8,  ram=15) = 10:01 , 17 skipped
No njit( max_worker= 4,  ram=15) = 8:14 , 17 skipped
No njit( max_worker= 6,  ram=15) = 8:46 , 17 skipped
No njit( max_worker= 5,  ram=15) = 8:03 , 17 skipped
No njit( max_worker= 5,  ram=12) = 6:39 , 28 skipped

njit NoGil ( max_worker= 8,  ram=15) = 10:47 , 17 skipped
njit NoGil ( max_worker= 5,  ram=12) =  6:51 ,  28 skipped

SyntaxError: invalid syntax (<ipython-input-5-dbdbee06ce7d>, line 1)

In [1]:
%%time
# Sorting Threading
recommendation_users = {}

def sort_user_vectors(uid):
    if uid in all_user_profiles.keys():
        user_vec = all_user_profiles[uid]
        cosine_similarity_user_movies = cosine_similarity(user_vec, tfidf_matrix)
        top_similar = cosine_similarity_user_movies[0].sort(kind='timsort')[:100:-1]
        recommendation_users[uid] = [(cosine_similarity_user_movies[0][i], movies['id'][i]) for i in top_similar]



with ThreadPoolExecutor(max_workers=8) as executer:
    executer.map(sort_user_vectors, userid_list)

NameError: name 'ThreadPoolExecutor' is not defined

In [8]:
recommendation_users = {}
def sort_user_vectors():
    for uid in userid_list:
        if uid in all_user_profiles.keys():
            user_vec = all_user_profiles[uid]
            cosine_similarity_user_movies = cosine_similarity(user_vec, tfidf_matrix)
            top_similar = cosine_similarity_user_movies[0].argsort()[:100:-1]
            recommendation_users[uid] = [(cosine_similarity_user_movies[0][i], movies['id'][i]) for i in top_similar]

%time sort_user_vectors()

Wall time: 6min 7s

In [ ]:
# Sorting Times
normal 6min 7s
4 worker 4min 1s
8 worker 3min 39s
16 worker 3min 33s
sort() timsort, 8 worker

In [15]:
%%time

percentage_already_seen = []
for uid in userid_list:
    if uid in all_user_profiles.keys():
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        user_recommendation = recommendation_users[uid]

        user_profile_mid_list = user_profile['movieId'].to_list()
        user_tmdb_list = []
        for m in user_profile_mid_list:
            tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == m]
            try:
                user_tmdb_list.append(int(tmdbId))
            except ValueError:
                print("ValueError: " + str(tmdbId))
        
        m_count = 0
        for movie_cosine, mid in user_recommendation[:len(user_profile)]:
            try:
                if int(mid) in user_tmdb_list:
                    m_count += 1
            except ValueError:
                print("ValueError: " + str(mid) + " not in tmdbid list")    

        if m_count == len(user_profile):
            print(str(uid) + " : the first movies are already viewed")
        else:
            print(str(m_count) + " of " + str(len(user_profile)) + " in first recommended already seen")

        p = m_count/len(user_profile)
        percentage_already_seen.append(p)

average_percentage = sum(percentage_already_seen) / len(percentage_already_seen)
print("Average Percentage of already seen movies: " + str(average_percentage))

1 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
54 of 76 in first recommended already seen
43 of 51 in first recommended already seen
49 of 204 in first recommended already seen
45 of 100 in first recommended already seen
43 of 44 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
73 of 88 in first recommended already seen
57 of 116 in first recommended already seen
39 of 45 in first recommended already seen
45 of 46 in first recommended already seen
32 of 38 in first recommended already seen
48 of 61 in first recommended already seen
47 of 53 in first recommended already seen
14 : the first movies are already viewed
16 : the first movies are already viewed
26 of 363 in first recommended already seen
43 of 51 in first recommended already seen
17 of 423 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
60 of 98 in first recommended already seen
59 of 162 in first recommended already seen
56 of 220 in first recommended already seen
24 : the first movies are already viewed
25 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
51 of 172 in first recommended already seen
22 of 23 in first recommended already seen
43 of 50 in first recommended already seen
21 of 22 in first recommended already seen
55 of 69 in first recommended already seen
44 of 48 in first recommended already seen
44 of 138 in first recommended already seen
43 of 187 in first recommended already seen
35 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
39 of 104 in first recommended already seen
37 : the first movies are already viewed
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
32 of 111 in first recommended already seen
51 of 62 in first recommended already seen
31 of 43 in first recommended already seen
66 of 199 in first recommended already seen
59 of 70 in first recommended already seen
51 of 110 in first recommended already seen
44 : the first movies are already viewed
20 of 21 in first recommended already seen
37 of 39 in first recommended already seen
47 : the first movies are already viewed
29 of 513 in first recommended already seen
26 of 99 in first recommended already seen
43 of 46 in first recommended already seen
51 : the first movies are already viewed
44 of 68 in first recommended already seen
40 of 46 in first recommended already seen
41 of 44 in first recommended already seen
55 : the first movies are already viewed
22 of 522 in first recommended already seen
40 of 209 in first recommended already seen
61 of 73 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
66 of 78 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
40 of 55 in first recommended already seen
51 of 166 in first recommended already seen
26 of 53 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
73 of 97 in first recommended already seen
64 : the first movies are already viewed
26 of 27 in first recommended already seen
47 of 49 in first recommended already seen
50 of 103 in first recommended already seen
40 of 123 in first recommended already seen
58 of 81 in first recommended already seen
68 of 83 in first recommended already seen
71 : the first movies are already viewed
30 of 191 in first recommended already seen
44 of 49 in first recommended already seen
52 of 145 in first recommended already seen
76 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
30 of 315 in first recommended already seen
50 of 263 in first recommended already seen
49 of 55 in first recommended already seen
36 of 37 in first recommended already seen
26 of 160 in first recommended already seen
37 of 39 in first recommended already seen
43 of 161 in first recommended already seen
65 of 116 in first recommended already seen
67 of 107 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
22 of 190 in first recommended already seen
87 : the first movies are already viewed
29 of 255 in first recommended already seen
62 of 66 in first recommended already seen
49 of 50 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
62 of 150 in first recommended already seen
57 of 123 in first recommended already seen
37 of 159 in first recommended already seen
30 of 196 in first recommended already seen
33 of 299 in first recommended already seen
55 of 76 in first recommended already seen
41 of 128 in first recommended already seen
35 of 71 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
27 of 188 in first recommended already seen
100 : the first movies are already viewed
52 of 55 in first recommended already seen
71 of 94 in first recommended already seen
55 of 76 in first recommended already seen
26 of 525 in first recommended already seen
36 of 45 in first recommended already seen
28 of 32 in first recommended already seen
108 : the first movies are already viewed
109 : the first movies are already viewed
52 of 120 in first recommended already seen
27 of 341 in first recommended already seen
112 : the first movies are already viewed
26 of 27 in first recommended already seen
114 : the first movies are already viewed
40 of 41 in first recommended already seen
116 : the first movies are already viewed
36 of 55 in first recommended already seen
55 of 189 in first recommended already seen
65 of 138 in first recommended already seen
52 of 80 in first recommended already seen
35 of 40 in first recommended already seen
123 : the first movies are already viewed
63 of 85 in first recommended already seen
32 of 210 in first recommended already seen
52 of 64 in first recommended already seen
127 : the first movies are already viewed
22 of 323 in first recommended already seen
129 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
27 of 375 in first recommended already seen
35 of 44 in first recommended already seen
32 of 94 in first recommended already seen
21 of 178 in first recommended already seen
28 of 311 in first recommended already seen
135 : the first movies are already viewed
47 of 50 in first recommended already seen
59 of 80 in first recommended already seen
38 of 81 in first recommended already seen
58 of 68 in first recommended already seen
40 of 46 in first recommended already seen
141 : the first movies are already viewed
51 of 61 in first recommended already seen
53 of 77 in first recommended already seen
40 of 41 in first recommended already seen
37 of 38 in first recommended already seen
65 of 73 in first recommended already seen
36 of 38 in first recommended already seen
49 of 132 in first recommended already seen
27 of 231 in first recommended already seen
40 of 413 in first recommended already seen
54 of 64 in first recommended already seen
41 of 218 in first recommended already seen
41 of 51 in first recommended already seen
154 : the first movies are already viewed
47 of 51 in first recommended already seen
39 of 45 in first recommended already seen
36 of 326 in first recommended already seen
158 : the first movies are already viewed
38 of 148 in first recommended already seen
41 of 100 in first recommended already seen
51 of 90 in first recommended already seen
162 : the first movies are already viewed
47 of 81 in first recommended already seen
68 of 82 in first recommended already seen
32 of 487 in first recommended already seen
48 of 56 in first recommended already seen
167 : the first movies are already viewed
49 of 116 in first recommended already seen
60 of 113 in first recommended already seen
170 : the first movies are already viewed
41 of 48 in first recommended already seen
172 : the first movies are already viewed
173 : the first movies are already viewed
174 : the first movies are already viewed
45 of 125 in first recommended already seen
30 of 256 in first recommended already seen
59 of 224 in first recommended already seen
47 of 130 in first recommended already seen
34 of 38 in first recommended already seen
23 of 24 in first recommended already seen
181 : the first movies are already viewed
36 of 131 in first recommended already seen
39 of 41 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
40 of 45 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
48 of 204 in first recommended already seen
37 of 42 in first recommended already seen
26 of 324 in first recommended already seen
58 of 100 in first recommended already seen
50 of 176 in first recommended already seen
38 of 60 in first recommended already seen
191 : the first movies are already viewed
51 of 55 in first recommended already seen
50 of 66 in first recommended already seen
48 of 50 in first recommended already seen
26 of 485 in first recommended already seen
54 of 99 in first recommended already seen
53 of 63 in first recommended already seen
52 of 75 in first recommended already seen
36 of 422 in first recommended already seen
28 of 253 in first recommended already seen
67 of 122 in first recommended already seen
61 of 76 in first recommended already seen
34 of 37 in first recommended already seen
28 of 31 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
37 of 206 in first recommended already seen
36 of 39 in first recommended already seen
44 of 46 in first recommended already seen
36 of 48 in first recommended already seen
209 : the first movies are already viewed
210 : the first movies are already viewed
41 of 55 in first recommended already seen
39 of 214 in first recommended already seen
44 of 54 in first recommended already seen
44 of 82 in first recommended already seen
77 of 104 in first recommended already seen
41 of 42 in first recommended already seen
48 of 138 in first recommended already seen
24 of 289 in first recommended already seen
221 : the first movies are already viewed
51 of 88 in first recommended already seen
32 of 36 in first recommended already seen
46 of 88 in first recommended already seen
225 : the first movies are already viewed
31 of 36 in first recommended already seen
227 : the first movies are already viewed
52 of 60 in first recommended already seen
28 of 33 in first recommended already seen
32 of 94 in first recommended already seen
31 of 32 in first recommended already seen
35 of 36 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
50 of 115 in first recommended already seen
33 of 155 in first recommended already seen
23 of 224 in first recommended already seen
43 of 44 in first recommended already seen
30 of 91 in first recommended already seen
21 of 291 in first recommended already seen
28 of 230 in first recommended already seen
48 of 56 in first recommended already seen
22 of 399 in first recommended already seen
32 of 307 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
62 of 74 in first recommended already seen
35 of 125 in first recommended already seen
246 : the first movies are already viewed
42 of 285 in first recommended already seen
27 of 99 in first recommended already seen
249 : the first movies are already viewed
34 of 155 in first recommended already seen
55 of 119 in first recommended already seen
252 : the first movies are already viewed
30 of 205 in first recommended already seen
42 of 141 in first recommended already seen
31 of 145 in first recommended already seen
256 : the first movies are already viewed
48 of 103 in first recommended already seen
31 of 32 in first recommended already seen
26 of 28 in first recommended already seen
38 of 41 in first recommended already seen
49 of 50 in first recommended already seen
44 of 114 in first recommended already seen
31 of 33 in first recommended already seen
26 of 183 in first recommended already seen
37 of 39 in first recommended already seen
267 : the first movies are already viewed
29 of 400 in first recommended already seen
24 of 25 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
ValueError: 8505   NaN
Name: tmdbId, dtype: float64
30 of 229 in first recommended already seen
65 of 72 in first recommended already seen
28 of 39 in first recommended already seen
51 of 92 in first recommended already seen
37 of 39 in first recommended already seen
31 of 202 in first recommended already seen
16 of 21 in first recommended already seen
27 of 58 in first recommended already seen
35 of 53 in first recommended already seen
50 of 57 in first recommended already seen
280 : the first movies are already viewed
53 of 82 in first recommended already seen
80 of 127 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
36 of 189 in first recommended already seen
41 of 52 in first recommended already seen
28 of 422 in first recommended already seen
41 of 43 in first recommended already seen
29 of 254 in first recommended already seen
61 of 75 in first recommended already seen
19 of 20 in first recommended already seen
58 of 67 in first recommended already seen
69 of 87 in first recommended already seen
25 of 278 in first recommended already seen
65 of 79 in first recommended already seen
38 of 236 in first recommended already seen
296 : the first movies are already viewed
56 of 138 in first recommended already seen
42 of 75 in first recommended already seen
25 of 367 in first recommended already seen
42 of 44 in first recommended already seen
22 of 23 in first recommended already seen
33 of 35 in first recommended already seen
35 of 223 in first recommended already seen
60 of 113 in first recommended already seen
28 of 29 in first recommended already seen
52 of 72 in first recommended already seen
49 of 61 in first recommended already seen
42 of 128 in first recommended already seen
310 : the first movies are already viewed
32 of 284 in first recommended already seen
26 of 302 in first recommended already seen
18 of 34 in first recommended already seen
44 of 55 in first recommended already seen
61 of 140 in first recommended already seen
317 : the first movies are already viewed
ValueError: 910   NaN
Name: tmdbId, dtype: float64
54 of 59 in first recommended already seen
319 : the first movies are already viewed
37 of 58 in first recommended already seen
49 of 75 in first recommended already seen
36 of 43 in first recommended already seen
323 : the first movies are already viewed
45 of 151 in first recommended already seen
325 : the first movies are already viewed
326 : the first movies are already viewed
58 of 63 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
49 of 170 in first recommended already seen
329 : the first movies are already viewed
45 of 95 in first recommended already seen
24 of 25 in first recommended already seen
31 of 32 in first recommended already seen
44 of 81 in first recommended already seen
24 of 34 in first recommended already seen
335 : the first movies are already viewed
28 of 31 in first recommended already seen
19 of 20 in first recommended already seen
48 of 57 in first recommended already seen
58 of 105 in first recommended already seen
33 of 39 in first recommended already seen
21 of 22 in first recommended already seen
33 of 187 in first recommended already seen
41 of 42 in first recommended already seen
33 of 177 in first recommended already seen
30 of 214 in first recommended already seen
62 of 329 in first recommended already seen
18 of 22 in first recommended already seen
36 of 53 in first recommended already seen
349 : the first movies are already viewed
42 of 168 in first recommended already seen
36 of 40 in first recommended already seen
52 of 84 in first recommended already seen
41 of 521 in first recommended already seen
46 of 52 in first recommended already seen
45 of 308 in first recommended already seen
20 of 21 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
29 of 30 in first recommended already seen
26 of 617 in first recommended already seen
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
32 of 46 in first recommended already seen
37 of 38 in first recommended already seen
61 of 70 in first recommended already seen
39 of 119 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
35 of 201 in first recommended already seen
28 of 36 in first recommended already seen
56 of 70 in first recommended already seen
366 : the first movies are already viewed
47 of 217 in first recommended already seen
368 : the first movies are already viewed
45 of 51 in first recommended already seen
73 of 100 in first recommended already seen
28 of 161 in first recommended already seen
30 of 33 in first recommended already seen
25 of 219 in first recommended already seen
31 of 33 in first recommended already seen
375 : the first movies are already viewed
36 of 59 in first recommended already seen
24 of 25 in first recommended already seen
26 of 147 in first recommended already seen
54 of 71 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
41 of 110 in first recommended already seen
26 of 314 in first recommended already seen
48 of 62 in first recommended already seen
30 of 485 in first recommended already seen
48 of 99 in first recommended already seen
51 of 121 in first recommended already seen
28 of 279 in first recommended already seen
41 of 51 in first recommended already seen
79 of 153 in first recommended already seen
40 of 113 in first recommended already seen
24 of 25 in first recommended already seen
44 of 51 in first recommended already seen
35 of 205 in first recommended already seen
395 : the first movies are already viewed
42 of 141 in first recommended already seen
51 of 59 in first recommended already seen
51 of 53 in first recommended already seen
399 : the first movies are already viewed
50 of 58 in first recommended already seen
62 of 72 in first recommended already seen
36 of 319 in first recommended already seen
403 : the first movies are already viewed
35 of 38 in first recommended already seen
30 of 412 in first recommended already seen
40 of 73 in first recommended already seen
19 of 323 in first recommended already seen
28 of 222 in first recommended already seen
43 of 51 in first recommended already seen
410 : the first movies are already viewed
26 of 27 in first recommended already seen
27 of 219 in first recommended already seen
413 : the first movies are already viewed
49 of 81 in first recommended already seen
415 : the first movies are already viewed
50 of 107 in first recommended already seen
56 of 139 in first recommended already seen
47 of 168 in first recommended already seen
45 of 50 in first recommended already seen
49 of 98 in first recommended already seen
41 of 47 in first recommended already seen
52 of 85 in first recommended already seen
ValueError: 7408   NaN
Name: tmdbId, dtype: float64
21 of 347 in first recommended already seen
29 of 30 in first recommended already seen
53 of 55 in first recommended already seen
31 of 254 in first recommended already seen
27 of 294 in first recommended already seen
53 of 166 in first recommended already seen
429 : the first movies are already viewed
35 of 305 in first recommended already seen
22 of 268 in first recommended already seen
55 of 62 in first recommended already seen
36 of 198 in first recommended already seen
36 of 192 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
22 of 23 in first recommended already seen
49 of 62 in first recommended already seen
23 of 24 in first recommended already seen
14 of 20 in first recommended already seen
28 of 260 in first recommended already seen
36 of 40 in first recommended already seen
39 of 120 in first recommended already seen
32 of 225 in first recommended already seen