In [1]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import scipy

In [2]:
movies = pd.read_csv('movie_archive\movies_metadata.csv')
ratings_small = pd.read_csv('movie_archive\\ratings_small.csv')
links_small = pd.read_csv('movie_archive\links_small.csv')

C:\Users\Admin\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
word_bag = CountVectorizer(analyzer='word', ngram_range=(1, 3), stop_words='english')
bag_matrix = word_bag.fit_transform(movies['title'].apply(str) + " " + movies['overview'].apply(str))
bag_matrix

<45466x2407186 sparse matrix of type '<class 'numpy.int64'>'
	with 3943994 stored elements in Compressed Sparse Row format>

In [4]:
# not needed for creating user vectors

#cosine_similarity = cosine_similarity(bag_matrix, bag_matrix)

In [5]:
results = {}

#for idx, row in movies.iterrows():
    #print(idx)
    #similar_indices = cosine_similarity[idx].argsort()[:100:-1]
    #similar_items = [(cosine_similarity[idx][i], movies['id'][i]) for i in similar_indices]

    #results[row['id']] = similar_items[1:]

In [6]:
ratings_small.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [7]:
links_small.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [8]:
movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [9]:
# changes type of all possible entrys in tmdbId to int, leaves rest in string
def list_str_to_int(s):     #überholt ----------
    if not s:
        return s
    try:
        i = int(s)
        return i
    except ValueError:
        return s

movieid_list = movies['id'].to_list()
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))
#movieid_list = list(map(list_str_to_int, movieid_list))


'1997-08-20' in movieid_list

False

In [10]:
userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))

def get_movie_vector(movieid):
    tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == movieid]
    try:
        index = movieid_list.index(int(tmdbId))
        movie_vector = bag_matrix[index]
        return movie_vector
    except ValueError:
        print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        return # <-------------------------------------????

# get all movie vector rated from user
def get_user_rated_movies(ids):
    #movie_vector_list = [get_movie_vector(i) for i in ids]
    
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = bag_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors

def create_user_vector(user_rated_movies_vector_list):
    user_vector = user_rated_movies_vector_list[0]
    for x in user_rated_movies_vector_list[1:]:
        user_vector = user_vector + x
    print("Time of Compute User Vector -> Normalize: ")
    %time user_norm = sklearn.preprocessing.normalize(user_vector)
    return sklearn.preprocessing.normalize(user_vector)

# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}
for uid in userid_list:
    print("Time user_profile:")
    %time user_profile = ratings_small.loc[ratings_small['userId'] == uid]
    print("User-Profile Length: " + str(len(user_profile)))
    print("Time user_rated_movies_vector_list:")
    %time user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
    #print(user_rated_movies_vector_list)
    #try:
        #user_vector = user_rated_movies_vector_list[0]
        #for x in user_rated_movies_vector_list[1:]:
        #    user_vector = user_vector + x

        #user_norm = sklearn.preprocessing.normalize(user_vector)
        #print(user_norm)

    print("Time Compute User Vector:")
    %time user_norm = create_user_vector(user_rated_movies_vector_list)

    all_user_profiles[uid] = user_norm
    print(str(uid) + " finished\n")
    #except TypeError:
    #    print(str(uid) + " didnt work, coo matrix parse error")

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 20
Time user_rated_movies_vector_list:
Wall time: 12.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 245 ms
1 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 76
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 31.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 988 µs
Wall time: 1 s
2 finished

Time user_profile:
Wall time: 999 µs
User-Profile Length: 51
Time user_rated_movies_vector_list:
Wall time: 24.4 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 810 µs
Wall time: 664 ms
3 finished

Time user_profile:
Wall time: 1.51 ms
User-Profile Length: 204
Time user_rated_movies_vector_list:
Wall time: 110 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.5 ms
Wall time: 2.86 s
4 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 100
Time user_rated_movies_vector_list:
Wall time: 67.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.07 ms
Wall time: 1.27 s
5 finished

Time user_profile:
Wall time: 999 µs
User-Profile Length: 44
Time user_rated_movies_vector_list:
Wall time: 20.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 994 µs
Wall time: 597 ms
6 finished

Time user_profile:
Wall time: 1.99 ms
User-Profile Length: 88
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 44.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 1.17 s
7 finished

Time user_profile:
Wall time: 999 µs
User-Profile Length: 116
Time user_rated_movies_vector_list:
Wall time: 55.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 1.47 s
8 finished

Time user_profile:
Wall time: 1.49 ms
User-Profile Length: 45
Time user_rated_movies_vector_list:
Wall time: 19.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 547 ms
9 finished

Time user_profile:
Wall time: 999 µs
User-Profile Length: 46
Time user_rated_movies_vector_list:
Wall time: 25 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 987 µs
Wall time: 555 ms
10 finished

Time user_profile:
Wall time: 1.02 ms
User-Profile Length: 38
Time user_rated_movies_vector_list:
Wall time: 27.6 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 458 ms
11 finished

Time user_profile:
Wall time: 996 µs
User-Profile Length: 61
Time user_rated_movies_vector_list:
Wall time: 26.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 989 µs
Wall time: 737 ms
12 finished

Time user_profile:
Wall time: 1.49 ms
User-Profile Length: 53
Time user_rated_movies_vector_list:
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Wall time: 33 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 636 ms
13 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 20
Time user_rated_movies_vector_list:
Wall time: 9.58 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.12 ms
Wall time: 229 ms
14 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 1700
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
Wall time: 949 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 12.5 ms
Wall time: 27.8 s
15 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 29
Time user_rated_movies_vector_list:
Wall time: 14 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 345 ms
16 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 363
Time user_rated_movies_vector_list:
Wall time: 156 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 2.51 ms
Wall time: 4.96 s
17 finished

Time user_profile:
Wall time: 982 µs
User-Profile Length: 51
Time user_rated_movies_vector_list:
Wall time: 20 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 698 ms
18 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 423
Time user_rated_movies_vector_list:
Wall time: 155 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 3.49 ms
Wall time: 5.94 s
19 finished

Time user_profile:
Wall time: 1.49 ms
User-Profile Length: 98
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 46.3 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 999 µs
Wall time: 1.24 s
20 finished

Time user_profile:
Wall time: 1.51 ms
User-Profile Length: 162
Time user_rated_movies_vector_list:
Wall time: 58.4 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.49 ms
Wall time: 2.25 s
21 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 220
Time user_rated_movies_vector_list:
Wall time: 133 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 2 ms
Wall time: 2.98 s
22 finished

Time user_profile:
Wall time: 1.51 ms
User-Profile Length: 726
Time user_rated_movies_vector_list:
Wall time: 335 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 4.49 ms
Wall time: 10.4 s
23 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 21
Time user_rated_movies_vector_list:
Wall time: 8.99 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 500 µs
Wall time: 277 ms
24 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 26
Time user_rated_movies_vector_list:
Wall time: 13.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 498 µs
Wall time: 375 ms
25 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 172
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 139 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 2.5 ms
Wall time: 2.48 s
26 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 23
Time user_rated_movies_vector_list:
Wall time: 12.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 312 ms
27 finished

Time user_profile:
Wall time: 999 µs
User-Profile Length: 50
Time user_rated_movies_vector_list:
Wall time: 25 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 497 µs
Wall time: 691 ms
28 finished

Time user_profile:
Wall time: 1.48 ms
User-Profile Length: 22
Time user_rated_movies_vector_list:
Wall time: 14.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 999 µs
Wall time: 297 ms
29 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 1011
Time user_rated_movies_vector_list:
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
Wall time: 498 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 8.49 ms
Wall time: 16 s
30 finished

Time user_profile:
Wall time: 1.49 ms
User-Profile Length: 69
Time user_rated_movies_vector_list:
Wall time: 41.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 1.01 s
31 finished

Time user_profile:
Wall time: 997 µs
User-Profile Length: 48
Time user_rated_movies_vector_list:
Wall time: 20.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.49 ms
Wall time: 684 ms
32 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 138
Time user_rated_movies_vector_list:
Wall time: 79.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 2.39 s
33 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 187
Time user_rated_movies_vector_list:
Wall time: 79.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.5 ms
Wall time: 3.32 s
34 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 20
Time user_rated_movies_vector_list:
Wall time: 13 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 489 µs
Wall time: 321 ms
35 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 104
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 45.4 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.49 ms
Wall time: 1.87 s
36 finished

Time user_profile:
Wall time: 997 µs
User-Profile Length: 32
Time user_rated_movies_vector_list:
Wall time: 19 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 572 ms
37 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 111
Time user_rated_movies_vector_list:
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
Wall time: 84.4 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 997 µs
Wall time: 1.92 s
38 finished

Time user_profile:
Wall time: 996 µs
User-Profile Length: 62
Time user_rated_movies_vector_list:
Wall time: 32.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.5 ms
Wall time: 1.06 s
39 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 43
Time user_rated_movies_vector_list:
Wall time: 91.8 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 771 ms
40 finished

Time user_profile:
Wall time: 2.49 ms
User-Profile Length: 199
Time user_rated_movies_vector_list:
Wall time: 122 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.99 ms
Wall time: 3.53 s
41 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 70
Time user_rated_movies_vector_list:
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
Wall time: 101 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 1.08 s
42 finished

Time user_profile:
Wall time: 499 µs
User-Profile Length: 110
Time user_rated_movies_vector_list:
Wall time: 72.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 1.61 s
43 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 25
Time user_rated_movies_vector_list:
Wall time: 10.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 997 µs
Wall time: 367 ms
44 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 21
Time user_rated_movies_vector_list:
Wall time: 13 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 344 ms
45 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 39
Time user_rated_movies_vector_list:
Wall time: 39.4 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 1.5 ms
Wall time: 690 ms
46 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 38
Time user_rated_movies_vector_list:
Wall time: 19 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 498 µs
Wall time: 656 ms
47 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 513
Time user_rated_movies_vector_list:
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
Wall time: 810 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 4.99 ms
Wall time: 9.65 s
48 finished

Time user_profile:
Wall time: 2.5 ms
User-Profile Length: 99
Time user_rated_movies_vector_list:
Wall time: 84.8 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 1.78 s
49 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 46
Time user_rated_movies_vector_list:
Wall time: 22.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 997 µs
Wall time: 767 ms
50 finished

Time user_profile:
Wall time: 1.51 ms
User-Profile Length: 31
Time user_rated_movies_vector_list:
Wall time: 19.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 498 µs
Wall time: 540 ms
51 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 68
Time user_rated_movies_vector_list:
Wall time: 44.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 997 µs
Wall time: 1.14 s
52 finished

Time user_profile:
Wall time: 998 µs
User-Profile Length: 46
Time user_rated_movies_vector_list:
Wall time: 23.5 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 784 ms
53 finished

Time user_profile:
Wall time: 1 ms
User-Profile Length: 44
Time user_rated_movies_vector_list:
Wall time: 61.9 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 499 µs
Wall time: 792 ms
54 finished

Time user_profile:
Wall time: 2 ms
User-Profile Length: 38
Time user_rated_movies_vector_list:
Wall time: 18 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 498 µs
Wall time: 685 ms
55 finished

Time user_profile:
Wall time: 1.5 ms
User-Profile Length: 522
Time user_rated_movies_vector_list:
Wall time: 690 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 5.49 ms
Wall time: 9.99 s
56 finished

Time user_profile:
Wall time: 2 ms
User-Profile Length: 209
Time user_rated_movies_vector_list:
Wall time: 225 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 2 ms
Wall time: 4.6 s
57 finished

Time user_profile:
Wall time: 2.5 ms
User-Profile Length: 73
Time user_rated_movies_vector_list:
Wall time: 45.4 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 998 µs
Wall time: 1.29 s
58 finished

Time user_profile:
Wall time: 2 ms
User-Profile Length: 78
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 52.4 ms
Time Compute User Vector:
Time of Compute User Vector -> Normalize:
Wall time: 500 µs
Wall time: 1.35 s
59 finished

Time user_profile:
Wall time: 2 ms
User-Profile Length: 55
Time user_rated_movies_vector_list:
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
Wall time: 32.9 ms
Time Compute User Vector:

KeyboardInterrupt:

In [15]:
# top recommendet movies for users
recommendation_users = {}

for uid in userid_list:
    user_vec = all_user_profiles[uid]
    cosine_similarity_user_movies = cosine_similarity(user_vec, bag_matrix)
    top_similar = cosine_similarity_user_movies[0].argsort()[:100:-1]
    recommendation_users[uid] = [(cosine_similarity_user_movies[0][i], movies['id'][i]) for i in top_similar]

In [16]:
len(recommendation_users)

671

In [34]:
#the first posts are always the already interacted ones ?!

percentage_already_seen = []
for uid in userid_list:
    user_profile = ratings_small.loc[ratings_small['userId'] == uid]
    user_recommendation = recommendation_users[uid]

    user_profile_mid_list = user_profile['movieId'].to_list()
    user_tmdb_list = []
    for m in user_profile_mid_list:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == m]
        try:
            user_tmdb_list.append(int(tmdbId))
        except ValueError:
            print("ValueError: " + str(tmdbId))
    
    m_count = 0
    for movie_cosine, mid in user_recommendation[:len(user_profile)]:
        if int(mid) in user_tmdb_list:
            m_count += 1
            

    if m_count == len(user_profile):
        print(str(uid) + " : the first movies are already viewed")
    else:
        print(str(m_count) + " of " + str(len(user_profile)) + " in first recommended already seen")

    p = m_count/len(user_profile)
    percentage_already_seen.append(p)

average_percentage = sum(percentage_already_seen) / len(percentage_already_seen)
print("Average Percentage of already seen movies: " + str(average_percentage))

ror: 8045   NaN
Name: tmdbId, dtype: float64
ValueError: 8507   NaN
Name: tmdbId, dtype: float64
24 of 676 in first recommended already seen
44 of 114 in first recommended already seen
31 of 33 in first recommended already seen
26 of 183 in first recommended already seen
37 of 39 in first recommended already seen
267 : the first movies are already viewed
29 of 400 in first recommended already seen
24 of 25 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
ValueError: 8505   NaN
Name: tmdbId, dtype: float64
30 of 229 in first recommended already seen
65 of 72 in first recommended already seen
28 of 39 in first recommended already seen
51 of 92 in first recommended already seen
37 of 39 in first recommended already seen
31 of 202 in first recommended already seen
16 of 21 in first recommended already seen
27 of 58 in first recommended already seen
35 of 53 in first recommended already seen
50 of 57 in first recommended already seen
280 : the first movies are already viewed
53 of 82 in first recommended already seen
80 of 127 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
36 of 189 in first recommended already seen
41 of 52 in first recommended already seen
28 of 422 in first recommended already seen
41 of 43 in first recommended already seen
29 of 254 in first recommended already seen
61 of 75 in first recommended already seen
19 of 20 in first recommended already seen
58 of 67 in first recommended already seen
69 of 87 in first recommended already seen
25 of 278 in first recommended already seen
65 of 79 in first recommended already seen
36 of 947 in first recommended already seen
38 of 236 in first recommended already seen
296 : the first movies are already viewed
56 of 138 in first recommended already seen
42 of 75 in first recommended already seen
25 of 367 in first recommended already seen
42 of 44 in first recommended already seen
22 of 23 in first recommended already seen
33 of 35 in first recommended already seen
35 of 223 in first recommended already seen
60 of 113 in first recommended already seen
28 of 29 in first recommended already seen
32 of 645 in first recommended already seen
52 of 72 in first recommended already seen
49 of 61 in first recommended already seen
42 of 128 in first recommended already seen
310 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
42 of 1019 in first recommended already seen
32 of 284 in first recommended already seen
26 of 302 in first recommended already seen
18 of 34 in first recommended already seen
44 of 55 in first recommended already seen
61 of 140 in first recommended already seen
317 : the first movies are already viewed
ValueError: 910   NaN
Name: tmdbId, dtype: float64
54 of 59 in first recommended already seen
319 : the first movies are already viewed
37 of 58 in first recommended already seen
49 of 75 in first recommended already seen
36 of 43 in first recommended already seen
323 : the first movies are already viewed
45 of 151 in first recommended already seen
325 : the first movies are already viewed
326 : the first movies are already viewed
58 of 63 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
49 of 170 in first recommended already seen
329 : the first movies are already viewed
45 of 95 in first recommended already seen
24 of 25 in first recommended already seen
31 of 32 in first recommended already seen
44 of 81 in first recommended already seen
24 of 34 in first recommended already seen
335 : the first movies are already viewed
28 of 31 in first recommended already seen
19 of 20 in first recommended already seen
48 of 57 in first recommended already seen
58 of 105 in first recommended already seen
33 of 39 in first recommended already seen
21 of 22 in first recommended already seen
33 of 187 in first recommended already seen
41 of 42 in first recommended already seen
33 of 177 in first recommended already seen
30 of 214 in first recommended already seen
62 of 329 in first recommended already seen
18 of 22 in first recommended already seen
36 of 53 in first recommended already seen
349 : the first movies are already viewed
42 of 168 in first recommended already seen
36 of 40 in first recommended already seen
52 of 84 in first recommended already seen
41 of 521 in first recommended already seen
46 of 52 in first recommended already seen
45 of 308 in first recommended already seen
20 of 21 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
29 of 30 in first recommended already seen
26 of 617 in first recommended already seen
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
32 of 46 in first recommended already seen
37 of 38 in first recommended already seen
61 of 70 in first recommended already seen
39 of 119 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
35 of 201 in first recommended already seen
28 of 36 in first recommended already seen
56 of 70 in first recommended already seen
366 : the first movies are already viewed
47 of 217 in first recommended already seen
368 : the first movies are already viewed
45 of 51 in first recommended already seen
73 of 100 in first recommended already seen
28 of 161 in first recommended already seen
30 of 33 in first recommended already seen
25 of 219 in first recommended already seen
31 of 33 in first recommended already seen
375 : the first movies are already viewed
36 of 59 in first recommended already seen
24 of 25 in first recommended already seen
26 of 147 in first recommended already seen
54 of 71 in first recommended already seen
ValueError: 7588   NaN
Name: tmdbId, dtype: float64
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
50 of 1063 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
41 of 110 in first recommended already seen
26 of 314 in first recommended already seen
48 of 62 in first recommended already seen
30 of 485 in first recommended already seen
48 of 99 in first recommended already seen
51 of 121 in first recommended already seen
28 of 279 in first recommended already seen
29 of 792 in first recommended already seen
41 of 51 in first recommended already seen
79 of 153 in first recommended already seen
40 of 113 in first recommended already seen
24 of 25 in first recommended already seen
44 of 51 in first recommended already seen
35 of 205 in first recommended already seen
395 : the first movies are already viewed
42 of 141 in first recommended already seen
51 of 59 in first recommended already seen
51 of 53 in first recommended already seen
399 : the first movies are already viewed
50 of 58 in first recommended already seen
62 of 72 in first recommended already seen
36 of 319 in first recommended already seen
403 : the first movies are already viewed
35 of 38 in first recommended already seen
30 of 412 in first recommended already seen
40 of 73 in first recommended already seen
19 of 323 in first recommended already seen
28 of 222 in first recommended already seen
43 of 51 in first recommended already seen
410 : the first movies are already viewed
26 of 27 in first recommended already seen
27 of 219 in first recommended already seen
413 : the first movies are already viewed
49 of 81 in first recommended already seen
415 : the first movies are already viewed
50 of 107 in first recommended already seen
56 of 139 in first recommended already seen
47 of 168 in first recommended already seen
45 of 50 in first recommended already seen
49 of 98 in first recommended already seen
41 of 47 in first recommended already seen
52 of 85 in first recommended already seen
ValueError: 7408   NaN
Name: tmdbId, dtype: float64
21 of 347 in first recommended already seen
29 of 30 in first recommended already seen
53 of 55 in first recommended already seen
31 of 254 in first recommended already seen
27 of 294 in first recommended already seen
53 of 166 in first recommended already seen
429 : the first movies are already viewed
35 of 305 in first recommended already seen
22 of 268 in first recommended already seen
55 of 62 in first recommended already seen
36 of 198 in first recommended already seen
36 of 192 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
22 of 23 in first recommended already seen
49 of 62 in first recommended already seen
23 of 24 in first recommended already seen
14 of 20 in first recommended already seen
28 of 260 in first recommended already seen
36 of 40 in first recommended already seen
39 of 120 in first recommended already seen
32 of 225 in first recommended already seen
34 of 40 in first recommended already seen
444 : the first movies are already viewed
445 : the first movies are already viewed
18 of 25 in first recommended already seen
50 of 87 in first recommended already seen
448 : the first movies are already viewed
449 : the first movies are already viewed
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
31 of 120 in first recommended already seen
48 of 52 in first recommended already seen
73 of 1340 in first recommended already seen
77 of 86 in first recommended already seen
454 : the first movies are already viewed
30 of 31 in first recommended already seen
56 of 67 in first recommended already seen
23 of 713 in first recommended already seen
68 of 76 in first recommended already seen
459 : the first movies are already viewed
31 of 284 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
20 of 696 in first recommended already seen
46 of 51 in first recommended already seen
21 of 483 in first recommended already seen
28 of 30 in first recommended already seen
36 of 39 in first recommended already seen
33 of 216 in first recommended already seen
40 of 64 in first recommended already seen
56 of 1291 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
20 of 21 in first recommended already seen
55 of 69 in first recommended already seen
58 of 216 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
ValueError: 640   NaN
Name: tmdbId, dtype: float64
41 of 830 in first recommended already seen
51 of 76 in first recommended already seen
39 of 41 in first recommended already seen
38 of 655 in first recommended already seen
40 of 46 in first recommended already seen
477 : the first movies are already viewed
50 of 74 in first recommended already seen
65 of 99 in first recommended already seen
31 of 378 in first recommended already seen
22 of 436 in first recommended already seen
49 of 59 in first recommended already seen
65 of 119 in first recommended already seen
484 : the first movies are already viewed
485 : the first movies are already viewed
33 of 138 in first recommended already seen
36 of 152 in first recommended already seen
42 of 54 in first recommended already seen
23 of 24 in first recommended already seen
490 : the first movies are already viewed
41 of 63 in first recommended already seen
ValueError: 608   NaN
Name: tmdbId, dtype: float64
42 of 74 in first recommended already seen
34 of 110 in first recommended already seen
60 of 78 in first recommended already seen
495 : the first movies are already viewed
50 of 126 in first recommended already seen
46 of 105 in first recommended already seen
498 : the first movies are already viewed
31 of 33 in first recommended already seen
35 of 249 in first recommended already seen
31 of 203 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
62 of 113 in first recommended already seen
40 of 44 in first recommended already seen
504 : the first movies are already viewed
27 of 395 in first recommended already seen
506 : the first movies are already viewed
507 : the first movies are already viewed
41 of 48 in first recommended already seen
43 of 923 in first recommended already seen
33 of 161 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
29 of 31 in first recommended already seen
23 of 27 in first recommended already seen
513 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
19 of 376 in first recommended already seen
32 of 34 in first recommended already seen
48 of 149 in first recommended already seen
40 of 42 in first recommended already seen
23 of 707 in first recommended already seen
31 of 160 in first recommended already seen
70 of 154 in first recommended already seen
43 of 49 in first recommended already seen
31 of 250 in first recommended already seen
54 of 126 in first recommended already seen
52 of 64 in first recommended already seen
90 of 138 in first recommended already seen
24 of 27 in first recommended already seen
55 of 135 in first recommended already seen
42 of 127 in first recommended already seen
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
29 of 604 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
62 of 78 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
43 of 132 in first recommended already seen
48 of 51 in first recommended already seen
43 of 163 in first recommended already seen
35 of 303 in first recommended already seen
53 of 63 in first recommended already seen
38 of 109 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
25 of 307 in first recommended already seen
23 of 25 in first recommended already seen
539 : the first movies are already viewed
540 : the first movies are already viewed
28 of 29 in first recommended already seen
50 of 63 in first recommended already seen
45 of 46 in first recommended already seen
30 of 268 in first recommended already seen
44 of 92 in first recommended already seen
51 of 65 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
181 of 2391 in first recommended already seen
39 of 138 in first recommended already seen
549 : the first movies are already viewed
81 of 135 in first recommended already seen
64 of 85 in first recommended already seen
36 of 38 in first recommended already seen
52 of 201 in first recommended already seen
51 of 64 in first recommended already seen
53 of 75 in first recommended already seen
556 : the first movies are already viewed
55 of 66 in first recommended already seen
26 of 215 in first recommended already seen
57 of 129 in first recommended already seen
71 of 100 in first recommended already seen
28 of 296 in first recommended already seen
42 of 253 in first recommended already seen
36 of 158 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
ValueError: 2282   NaN
Name: tmdbId, dtype: float64
87 of 1868 in first recommended already seen
25 of 27 in first recommended already seen
20 of 22 in first recommended already seen
32 of 34 in first recommended already seen
35 of 37 in first recommended already seen
40 of 85 in first recommended already seen
83 of 128 in first recommended already seen
51 of 59 in first recommended already seen
37 of 106 in first recommended already seen
33 of 38 in first recommended already seen
34 of 342 in first recommended already seen
26 of 547 in first recommended already seen
37 of 38 in first recommended already seen
30 of 279 in first recommended already seen
25 of 34 in first recommended already seen
579 : the first movies are already viewed
37 of 922 in first recommended already seen
47 of 49 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
43 of 138 in first recommended already seen
17 of 20 in first recommended already seen
31 of 193 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
25 of 300 in first recommended already seen
52 of 57 in first recommended already seen
23 of 504 in first recommended already seen
46 of 52 in first recommended already seen
42 of 43 in first recommended already seen
61 of 89 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
28 of 30 in first recommended already seen
84 of 133 in first recommended already seen
58 of 70 in first recommended already seen
62 of 75 in first recommended already seen
39 of 163 in first recommended already seen
28 of 487 in first recommended already seen
47 of 202 in first recommended already seen
27 of 312 in first recommended already seen
38 of 192 in first recommended already seen
24 of 35 in first recommended already seen
42 of 46 in first recommended already seen
41 of 129 in first recommended already seen
74 of 114 in first recommended already seen
604 : the first movies are already viewed
19 of 437 in first recommended already seen
43 of 60 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
28 of 427 in first recommended already seen
30 of 296 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
39 of 140 in first recommended already seen
28 of 82 in first recommended already seen
26 of 35 in first recommended already seen
58 of 66 in first recommended already seen
49 of 53 in first recommended already seen
48 of 99 in first recommended already seen
ValueError: 8507   NaN
Name: tmdbId, dtype: float64
23 of 385 in first recommended already seen
37 of 40 in first recommended already seen
58 of 75 in first recommended already seen
30 of 31 in first recommended already seen
39 of 43 in first recommended already seen
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
31 of 172 in first recommended already seen
62 of 95 in first recommended already seen
25 of 31 in first recommended already seen
72 of 103 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
ValueError: 3246   NaN
Name: tmdbId, dtype: float64
92 of 1735 in first recommended already seen
29 of 67 in first recommended already seen
50 of 150 in first recommended already seen
43 of 194 in first recommended already seen
47 of 87 in first recommended already seen
32 of 34 in first recommended already seen
22 of 23 in first recommended already seen
30 of 31 in first recommended already seen
632 : the first movies are already viewed
31 of 32 in first recommended already seen
20 of 22 in first recommended already seen
21 of 22 in first recommended already seen
636 : the first movies are already viewed
637 : the first movies are already viewed
638 : the first movies are already viewed
48 of 55 in first recommended already seen
46 of 49 in first recommended already seen
38 of 140 in first recommended already seen
33 of 36 in first recommended already seen
23 of 24 in first recommended already seen
35 of 39 in first recommended already seen
28 of 30 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
67 of 169 in first recommended already seen
39 of 150 in first recommended already seen
27 of 256 in first recommended already seen
57 of 90 in first recommended already seen
650 : the first movies are already viewed
651 : the first movies are already viewed
30 of 267 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
44 of 51 in first recommended already seen
32 of 626 in first recommended already seen
62 of 105 in first recommended already seen
33 of 128 in first recommended already seen
657 : the first movies are already viewed
49 of 60 in first recommended already seen
31 of 142 in first recommended already seen
45 of 92 in first recommended already seen
661 : the first movies are already viewed
49 of 58 in first recommended already seen
6 of 26 in first recommended already seen
34 of 519 in first recommended already seen
20 of 434 in first recommended already seen
37 of 40 in first recommended already seen
51 of 68 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
19 of 20 in first recommended already seen
34 of 37 in first recommended already seen
30 of 31 in first recommended already seen
52 of 115 in first recommended already seen

In [37]:
average_percentage

0.6111864613910986

In [16]:
user_profile = ratings_small.loc[ratings_small['userId'] == 1]

In [38]:
user_profile
test = recommendation_users[1]
movie_cosine, mid = test[0]
user_profile_mid_list = user_profile['movieId'].to_list()
user_tmdb_list = []
for m in user_profile_mid_list:
    tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == m]
    try:
        user_tmdb_list.append(int(tmdbId))
    except ValueError:
        print("ValueError: " + str(tmdbId))
print(mid)
movie_title = movies['title'].loc[movies['id'] == mid]
print(movie_title)
user_tmdb_list

665
1242    Ben-Hur
Name: title, dtype: object

[862,
 687,
 629,
 11929,
 11,
 680,
 278,
 13,
 712,
 11310,
 5503,
 14291,
 9479,
 812,
 280,
 581,
 275,
 532,
 630,
 15121,
 562,
 583,
 792,
 762,
 531,
 1891,
 2493,
 85,
 185,
 525,
 530,
 279,
 218,
 37247,
 235,
 137,
 33,
 89,
 578,
 1669,
 9427,
 4995,
 563,
 489,
 544,
 165,
 857,
 1779,
 117,
 162,
 637,
 9487,
 10162,
 1934,
 8879,
 1542,
 603,
 817,
 745,
 11153,
 2280,
 850,
 14,
 9377,
 550,
 492,
 1832,
 11663,
 863,
 497,
 334,
 8872,
 9609,
 820,
 8469,
 243,
 11072,
 7443,
 786,
 146,
 107,
 711,
 8358,
 134,
 11973,
 1900,
 808,
 824,
 11457,
 585,
 671,
 161,
 194,
 120,
 453,
 855,
 425,
 8346,
 557,
 245,
 180,
 4147,
 1430,
 672,
 2757,
 121,
 640,
 1574,
 423,
 10678,
 25461,
 51927,
 604,
 1088,
 4464]

In [27]:
 import pickle

In [28]:
ur_file = open('small_user_recommednations.dat', 'wb')

In [29]:
pickle.dump(recommendation_users, ur_file)
ur_file.close()

In [26]:
len(recommendation_users)

671

In [22]:
type(recommendation_users)

dict