In [2]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import scipy

In [3]:
movies = pd.read_csv('movie_archive\movies_metadata.csv')
ratings_small = pd.read_csv('movie_archive\\ratings_small.csv')
links_small = pd.read_csv('movie_archive\links_small.csv')

C:\Users\Admin\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
tfidf = TfidfVectorizer(analyzer='word', ngram_range=(1, 3), stop_words='english')
%time tfidf_matrix = tfidf.fit_transform(movies['title'].apply(str) + " " + movies['overview'].apply(str))
tfidf_matrix

Wall time: 15 s

<45466x2407186 sparse matrix of type '<class 'numpy.float64'>'
	with 3943994 stored elements in Compressed Sparse Row format>

In [5]:
userid_list = ratings_small['userId'].unique()
movieid_list = movies['id'].to_list()
# changes movieId type to int and deletes all false entrys
movieid_list = [x for x in movieid_list if x.isdigit()]
movieid_list = list(map(int, movieid_list))

# get all movie vector rated from user
def get_user_rated_movies(ids):
   
    movie_vector_list = []
    for i in ids:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == i]
        try:
            index = movieid_list.index(int(tmdbId))
            movie_vector = tfidf_matrix[index]
            movie_vector_list.append(movie_vector)
        except ValueError:
            print ("ValueError tmdbId: " + str(tmdbId))     # deleted/NaN movies
        
    movie_vectors = scipy.sparse.vstack(movie_vector_list)

    return movie_vectors

# compute all movie vector form specific user into one vector for each user
all_user_profiles = {}

def create_user_vectors():
    for uid in userid_list:
        user_profile = ratings_small.loc[ratings_small['userId'] == uid]
        user_rated_movies_vector_list = get_user_rated_movies(user_profile['movieId'].to_list())
        try:
            user_vector = user_rated_movies_vector_list[0]
            for x in user_rated_movies_vector_list[1:]:
                user_vector = user_vector + x

            user_norm = sklearn.preprocessing.normalize(user_vector)
            all_user_profiles[uid] = user_norm
            print(str(uid) + " finished")
        except TypeError:
            print(str(uid) + " didnt work, coo matrix parse error")

%time create_user_vectors()

1 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
2 finished
3 finished
4 finished
5 finished
6 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
7 finished
8 finished
9 finished
10 finished
11 finished
12 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
13 finished
14 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
15 finished
16 finished
17 finished
18 finished
19 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
20 finished
21 finished
22 finished
23 finished
24 finished
25 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
26 finished
27 finished
28 finished
29 finished
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
30 finished
31 finished
32 finished
33 finished
34 finished
35 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
36 finished
37 finished
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
38 finished
39 finished
40 finished
41 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
42 finished
43 finished
44 finished
45 finished
46 finished
47 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
48 finished
49 finished
50 finished
51 finished
52 finished
53 finished
54 finished
55 finished
56 finished
57 finished
58 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
59 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
60 finished
61 finished
62 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
63 finished
64 finished
65 finished
66 finished
67 finished
68 finished
69 finished
70 finished
71 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
72 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6086    185441.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6784    244797.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7438   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 9118    410612.0
Name: tmdbId, dtype: float64
73 finished
74 finished
75 finished
76 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
77 finished
78 finished
79 finished
80 finished
81 finished
82 finished
83 finished
84 finished
85 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
86 finished
87 finished
88 finished
89 finished
90 finished
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
91 finished
92 finished
93 finished
94 finished
95 finished
96 finished
97 finished
98 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
99 finished
100 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
101 finished
102 finished
103 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
104 finished
105 finished
106 finished
107 finished
108 finished
109 finished
110 finished
111 finished
112 finished
113 finished
114 finished
115 finished
116 finished
117 finished
118 finished
119 finished
120 finished
121 finished
122 finished
123 finished
124 finished
125 finished
126 finished
127 finished
128 finished
129 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
130 finished
131 finished
132 finished
133 finished
134 finished
135 finished
136 finished
137 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
138 finished
139 finished
140 finished
141 finished
142 finished
143 finished
144 finished
145 finished
146 finished
147 finished
148 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
149 finished
150 finished
151 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
152 finished
153 finished
154 finished
155 finished
156 finished
157 finished
158 finished
159 finished
160 finished
161 finished
162 finished
163 finished
164 finished
165 finished
166 finished
167 finished
168 finished
169 finished
170 finished
171 finished
172 finished
173 finished
174 finished
175 finished
176 finished
177 finished
178 finished
179 finished
180 finished
181 finished
182 finished
183 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
184 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
185 finished
186 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
187 finished
188 finished
189 finished
190 finished
191 finished
192 finished
193 finished
194 finished
195 finished
196 finished
197 finished
198 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
199 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
200 finished
201 finished
202 finished
203 finished
204 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
205 finished
206 finished
207 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
208 finished
209 finished
210 finished
211 finished
ValueError tmdbId: 3349    12773.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
212 finished
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
213 finished
214 finished
215 finished
216 finished
217 finished
218 finished
219 finished
220 finished
221 finished
222 finished
223 finished
224 finished
225 finished
226 finished
227 finished
228 finished
229 finished
230 finished
231 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
232 finished
233 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
234 finished
235 finished
236 finished
237 finished
238 finished
239 finished
240 finished
241 finished
242 finished
243 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
244 finished
245 finished
246 finished
247 finished
248 finished
249 finished
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
250 finished
251 finished
252 finished
253 finished
254 finished
255 finished
256 finished
257 finished
258 finished
259 finished
260 finished
261 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
262 finished
263 finished
264 finished
265 finished
266 finished
267 finished
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
268 finished
269 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8505   NaN
Name: tmdbId, dtype: float64
270 finished
271 finished
272 finished
273 finished
274 finished
275 finished
276 finished
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
277 finished
278 finished
279 finished
280 finished
281 finished
282 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
283 finished
284 finished
285 finished
286 finished
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
287 finished
288 finished
289 finished
290 finished
291 finished
292 finished
ValueError tmdbId: 3925    68149.0
Name: tmdbId, dtype: float64
293 finished
294 finished
295 finished
296 finished
297 finished
298 finished
299 finished
300 finished
301 finished
302 finished
ValueError tmdbId: 7275    67479.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
303 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
304 finished
305 finished
306 finished
307 finished
308 finished
309 finished
310 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
311 finished
312 finished
313 finished
314 finished
315 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
316 finished
317 finished
ValueError tmdbId: 910   NaN
Name: tmdbId, dtype: float64
318 finished
319 finished
320 finished
321 finished
322 finished
323 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
324 finished
325 finished
326 finished
327 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
328 finished
329 finished
330 finished
331 finished
332 finished
333 finished
334 finished
335 finished
336 finished
337 finished
338 finished
339 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
340 finished
341 finished
342 finished
343 finished
344 finished
345 finished
ValueError tmdbId: 3925    68149.0
Name: tmdbId, dtype: float64
346 finished
347 finished
348 finished
349 finished
350 finished
351 finished
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7776    110639.0
Name: tmdbId, dtype: float64
352 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
353 finished
354 finished
355 finished
356 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
357 finished
358 finished
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
359 finished
360 finished
361 finished
362 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
363 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
364 finished
365 finished
366 finished
367 finished
368 finished
369 finished
370 finished
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
371 finished
372 finished
373 finished
374 finished
375 finished
376 finished
377 finished
378 finished
379 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7588   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 8271    156078.0
Name: tmdbId, dtype: float64
380 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
381 finished
382 finished
383 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
384 finished
385 finished
386 finished
387 finished
388 finished
389 finished
390 finished
391 finished
392 finished
393 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
394 finished
395 finished
396 finished
397 finished
398 finished
399 finished
400 finished
401 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
402 finished
403 finished
404 finished
405 finished
406 finished
407 finished
408 finished
409 finished
410 finished
411 finished
412 finished
413 finished
414 finished
415 finished
416 finished
417 finished
418 finished
419 finished
420 finished
421 finished
422 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7408   NaN
Name: tmdbId, dtype: float64
423 finished
424 finished
425 finished
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
426 finished
427 finished
428 finished
429 finished
430 finished
431 finished
432 finished
433 finished
434 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
435 finished
436 finished
437 finished
438 finished
439 finished
440 finished
441 finished
442 finished
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
443 finished
444 finished
445 finished
446 finished
447 finished
448 finished
449 finished
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
450 finished
451 finished
452 finished
453 finished
454 finished
455 finished
456 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8799    53285.0
Name: tmdbId, dtype: float64
457 finished
458 finished
459 finished
460 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
461 finished
462 finished
463 finished
464 finished
465 finished
466 finished
467 finished
ValueError tmdbId: 7519    61920.0
Name: tmdbId, dtype: float64
468 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
469 finished
470 finished
471 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 640   NaN
Name: tmdbId, dtype: float64
472 finished
473 finished
474 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7923    58423.0
Name: tmdbId, dtype: float64
475 finished
476 finished
477 finished
478 finished
479 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
480 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
481 finished
482 finished
483 finished
484 finished
485 finished
486 finished
487 finished
488 finished
489 finished
490 finished
491 finished
ValueError tmdbId: 608   NaN
Name: tmdbId, dtype: float64
492 finished
493 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
494 finished
495 finished
496 finished
497 finished
498 finished
499 finished
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
500 finished
501 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
502 finished
503 finished
504 finished
505 finished
506 finished
507 finished
508 finished
509 finished
510 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
511 finished
512 finished
513 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
514 finished
515 finished
516 finished
517 finished
518 finished
519 finished
520 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
521 finished
522 finished
ValueError tmdbId: 3598    17882.0
Name: tmdbId, dtype: float64
523 finished
524 finished
525 finished
526 finished
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
527 finished
528 finished
ValueError tmdbId: 5826   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
529 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
530 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
531 finished
532 finished
533 finished
534 finished
535 finished
536 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
537 finished
538 finished
539 finished
540 finished
541 finished
ValueError tmdbId: 5841    2670.0
Name: tmdbId, dtype: float64
542 finished
543 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 7527    205300.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8512    110414.0
Name: tmdbId, dtype: float64
544 finished
545 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
546 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8111    53803.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 9062    374454.0
Name: tmdbId, dtype: float64
547 finished
548 finished
549 finished
550 finished
551 finished
552 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
553 finished
554 finished
555 finished
556 finished
557 finished
558 finished
559 finished
560 finished
561 finished
562 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
563 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 2282   NaN
Name: tmdbId, dtype: float64
564 finished
565 finished
566 finished
567 finished
568 finished
569 finished
570 finished
571 finished
572 finished
573 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
574 finished
575 finished
576 finished
577 finished
578 finished
579 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
580 finished
581 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
582 finished
583 finished
ValueError tmdbId: 5933    2518.0
Name: tmdbId, dtype: float64
584 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
585 finished
586 finished
ValueError tmdbId: 5204    164721.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 5833    13057.0
Name: tmdbId, dtype: float64
587 finished
588 finished
589 finished
590 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
591 finished
592 finished
593 finished
594 finished
595 finished
596 finished
597 finished
598 finished
ValueError tmdbId: 6018    13716.0
Name: tmdbId, dtype: float64
599 finished
600 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
601 finished
602 finished
603 finished
604 finished
605 finished
ValueError tmdbId: 7053    225130.0
Name: tmdbId, dtype: float64
606 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
607 finished
608 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
609 finished
ValueError tmdbId: 5919    206216.0
Name: tmdbId, dtype: float64
610 finished
ValueError tmdbId: 9061    370646.0
Name: tmdbId, dtype: float64
611 finished
612 finished
613 finished
614 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 6669    253768.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8507   NaN
Name: tmdbId, dtype: float64
615 finished
616 finished
617 finished
618 finished
619 finished
ValueError tmdbId: 8045   NaN
Name: tmdbId, dtype: float64
620 finished
621 finished
ValueError tmdbId: 5173    191903.0
Name: tmdbId, dtype: float64
ValueError tmdbId: 8520    314040.0
Name: tmdbId, dtype: float64
622 finished
623 finished
ValueError tmdbId: 607   NaN
Name: tmdbId, dtype: float64
ValueError tmdbId: 3246   NaN
Name: tmdbId, dtype: float64
624 finished
ValueError tmdbId: 8459    253941.0
Name: tmdbId, dtype: float64
625 finished
626 finished
627 finished
628 finished
629 finished
630 finished
631 finished
632 finished
633 finished
634 finished
635 finished
636 finished
637 finished
638 finished
639 finished
640 finished
641 finished
642 finished
643 finished

In [6]:
recommendation_users = {}
def sort_user_vectors():
    for uid in userid_list:
        user_vec = all_user_profiles[uid]
        cosine_similarity_user_movies = cosine_similarity(user_vec, tfidf_matrix)
        top_similar = cosine_similarity_user_movies[0].argsort()[:100:-1]
        recommendation_users[uid] = [(cosine_similarity_user_movies[0][i], movies['id'][i]) for i in top_similar]

%time sort_user_vectors()

Wall time: 6min 49s

In [7]:
%%time

percentage_already_seen = []
for uid in userid_list:
    user_profile = ratings_small.loc[ratings_small['userId'] == uid]
    user_recommendation = recommendation_users[uid]

    user_profile_mid_list = user_profile['movieId'].to_list()
    user_tmdb_list = []
    for m in user_profile_mid_list:
        tmdbId = links_small['tmdbId'].loc[links_small['movieId'] == m]
        try:
            user_tmdb_list.append(int(tmdbId))
        except ValueError:
            print("ValueError: " + str(tmdbId))
    
    m_count = 0
    for movie_cosine, mid in user_recommendation[:len(user_profile)]:
        try:
            if int(mid) in user_tmdb_list:
                m_count += 1
        except ValueError:
            print("ValueError: " + str(mid) + " not in tmdbid list")    

    if m_count == len(user_profile):
        print(str(uid) + " : the first movies are already viewed")
    else:
        print(str(m_count) + " of " + str(len(user_profile)) + " in first recommended already seen")

    p = m_count/len(user_profile)
    percentage_already_seen.append(p)

average_percentage = sum(percentage_already_seen) / len(percentage_already_seen)
print("Average Percentage of already seen movies: " + str(average_percentage))

1 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
75 of 76 in first recommended already seen
3 : the first movies are already viewed
4 : the first movies are already viewed
5 : the first movies are already viewed
6 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
87 of 88 in first recommended already seen
8 : the first movies are already viewed
9 : the first movies are already viewed
10 : the first movies are already viewed
35 of 38 in first recommended already seen
12 : the first movies are already viewed
52 of 53 in first recommended already seen
14 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
439 of 1700 in first recommended already seen
16 : the first movies are already viewed
359 of 363 in first recommended already seen
18 : the first movies are already viewed
409 of 423 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
97 of 98 in first recommended already seen
21 : the first movies are already viewed
22 : the first movies are already viewed
494 of 726 in first recommended already seen
24 : the first movies are already viewed
25 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
171 of 172 in first recommended already seen
27 : the first movies are already viewed
28 : the first movies are already viewed
29 : the first movies are already viewed
ValueError: 2282   NaN
Name: tmdbId, dtype: float64
486 of 1011 in first recommended already seen
31 : the first movies are already viewed
32 : the first movies are already viewed
33 : the first movies are already viewed
34 : the first movies are already viewed
35 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
103 of 104 in first recommended already seen
37 : the first movies are already viewed
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
96 of 111 in first recommended already seen
39 : the first movies are already viewed
31 of 43 in first recommended already seen
198 of 199 in first recommended already seen
61 of 70 in first recommended already seen
43 : the first movies are already viewed
44 : the first movies are already viewed
45 : the first movies are already viewed
38 of 39 in first recommended already seen
47 : the first movies are already viewed
406 of 513 in first recommended already seen
49 : the first movies are already viewed
50 : the first movies are already viewed
51 : the first movies are already viewed
52 : the first movies are already viewed
53 : the first movies are already viewed
54 : the first movies are already viewed
55 : the first movies are already viewed
388 of 522 in first recommended already seen
57 : the first movies are already viewed
58 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
77 of 78 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
54 of 55 in first recommended already seen
61 : the first movies are already viewed
28 of 53 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
96 of 97 in first recommended already seen
64 : the first movies are already viewed
65 : the first movies are already viewed
66 : the first movies are already viewed
67 : the first movies are already viewed
68 : the first movies are already viewed
69 : the first movies are already viewed
70 : the first movies are already viewed
71 : the first movies are already viewed
164 of 191 in first recommended already seen
ValueError: 7438   NaN
Name: tmdbId, dtype: float64
ValueError: 8507   NaN
Name: tmdbId, dtype: float64
533 of 1610 in first recommended already seen
48 of 49 in first recommended already seen
75 : the first movies are already viewed
76 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
314 of 315 in first recommended already seen
78 : the first movies are already viewed
79 : the first movies are already viewed
80 : the first movies are already viewed
81 : the first movies are already viewed
82 : the first movies are already viewed
83 : the first movies are already viewed
110 of 116 in first recommended already seen
85 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
189 of 190 in first recommended already seen
87 : the first movies are already viewed
88 : the first movies are already viewed
89 : the first movies are already viewed
90 : the first movies are already viewed
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
127 of 150 in first recommended already seen
92 : the first movies are already viewed
93 : the first movies are already viewed
94 : the first movies are already viewed
298 of 299 in first recommended already seen
96 : the first movies are already viewed
127 of 128 in first recommended already seen
64 of 71 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
187 of 188 in first recommended already seen
100 : the first movies are already viewed
54 of 55 in first recommended already seen
486 of 678 in first recommended already seen
103 : the first movies are already viewed
63 of 76 in first recommended already seen
480 of 525 in first recommended already seen
106 : the first movies are already viewed
30 of 32 in first recommended already seen
108 : the first movies are already viewed
109 : the first movies are already viewed
110 : the first movies are already viewed
340 of 341 in first recommended already seen
112 : the first movies are already viewed
113 : the first movies are already viewed
114 : the first movies are already viewed
115 : the first movies are already viewed
116 : the first movies are already viewed
117 : the first movies are already viewed
188 of 189 in first recommended already seen
545 of 641 in first recommended already seen
120 : the first movies are already viewed
121 : the first movies are already viewed
122 : the first movies are already viewed
123 : the first movies are already viewed
124 : the first movies are already viewed
125 : the first movies are already viewed
126 : the first movies are already viewed
127 : the first movies are already viewed
321 of 323 in first recommended already seen
129 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
371 of 375 in first recommended already seen
131 : the first movies are already viewed
132 : the first movies are already viewed
ValueError: 2012-09-29 not in tmdbid list
152 of 178 in first recommended already seen
309 of 311 in first recommended already seen
135 : the first movies are already viewed
136 : the first movies are already viewed
137 : the first movies are already viewed
64 of 81 in first recommended already seen
139 : the first movies are already viewed
42 of 46 in first recommended already seen
141 : the first movies are already viewed
142 : the first movies are already viewed
143 : the first movies are already viewed
144 : the first movies are already viewed
145 : the first movies are already viewed
146 : the first movies are already viewed
147 : the first movies are already viewed
148 : the first movies are already viewed
199 of 231 in first recommended already seen
406 of 413 in first recommended already seen
151 : the first movies are already viewed
216 of 218 in first recommended already seen
153 : the first movies are already viewed
154 : the first movies are already viewed
155 : the first movies are already viewed
156 : the first movies are already viewed
322 of 326 in first recommended already seen
158 : the first movies are already viewed
159 : the first movies are already viewed
160 : the first movies are already viewed
161 : the first movies are already viewed
162 : the first movies are already viewed
73 of 81 in first recommended already seen
164 : the first movies are already viewed
463 of 487 in first recommended already seen
166 : the first movies are already viewed
167 : the first movies are already viewed
168 : the first movies are already viewed
169 : the first movies are already viewed
170 : the first movies are already viewed
171 : the first movies are already viewed
172 : the first movies are already viewed
173 : the first movies are already viewed
174 : the first movies are already viewed
175 : the first movies are already viewed
250 of 256 in first recommended already seen
177 : the first movies are already viewed
ValueError: 2014-01-01 not in tmdbid list
124 of 130 in first recommended already seen
179 : the first movies are already viewed
180 : the first movies are already viewed
181 : the first movies are already viewed
182 : the first movies are already viewed
183 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
44 of 45 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
203 of 204 in first recommended already seen
186 : the first movies are already viewed
317 of 324 in first recommended already seen
188 : the first movies are already viewed
175 of 176 in first recommended already seen
190 : the first movies are already viewed
191 : the first movies are already viewed
192 : the first movies are already viewed
193 : the first movies are already viewed
194 : the first movies are already viewed
447 of 485 in first recommended already seen
196 : the first movies are already viewed
197 : the first movies are already viewed
198 : the first movies are already viewed
394 of 422 in first recommended already seen
237 of 253 in first recommended already seen
201 : the first movies are already viewed
202 : the first movies are already viewed
203 : the first movies are already viewed
204 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
186 of 206 in first recommended already seen
206 : the first movies are already viewed
207 : the first movies are already viewed
ValueError: 2012-09-29 not in tmdbid list
ValueError: 1997-08-20 not in tmdbid list
ValueError: 2014-01-01 not in tmdbid list
36 of 48 in first recommended already seen
209 : the first movies are already viewed
210 : the first movies are already viewed
211 : the first movies are already viewed
525 of 876 in first recommended already seen
570 of 910 in first recommended already seen
214 : the first movies are already viewed
215 : the first movies are already viewed
216 : the first movies are already viewed
217 : the first movies are already viewed
218 : the first movies are already viewed
219 : the first movies are already viewed
288 of 289 in first recommended already seen
221 : the first movies are already viewed
222 : the first movies are already viewed
223 : the first movies are already viewed
224 : the first movies are already viewed
225 : the first movies are already viewed
226 : the first movies are already viewed
227 : the first movies are already viewed
54 of 60 in first recommended already seen
229 : the first movies are already viewed
ValueError: 1997-08-20 not in tmdbid list
84 of 94 in first recommended already seen
231 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
ValueError: 2282   NaN
Name: tmdbId, dtype: float64
513 of 682 in first recommended already seen
233 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
114 of 115 in first recommended already seen
154 of 155 in first recommended already seen
236 : the first movies are already viewed
237 : the first movies are already viewed
ValueError: 1997-08-20 not in tmdbid list
77 of 91 in first recommended already seen
239 : the first movies are already viewed
240 : the first movies are already viewed
241 : the first movies are already viewed
391 of 399 in first recommended already seen
243 : the first movies are already viewed
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
71 of 74 in first recommended already seen
245 : the first movies are already viewed
246 : the first movies are already viewed
283 of 285 in first recommended already seen
248 : the first movies are already viewed
249 : the first movies are already viewed
139 of 155 in first recommended already seen
98 of 119 in first recommended already seen
252 : the first movies are already viewed
204 of 205 in first recommended already seen
254 : the first movies are already viewed
255 : the first movies are already viewed
256 : the first movies are already viewed
102 of 103 in first recommended already seen
258 : the first movies are already viewed
259 : the first movies are already viewed
260 : the first movies are already viewed
261 : the first movies are already viewed
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
ValueError: 8507   NaN
Name: tmdbId, dtype: float64
428 of 676 in first recommended already seen
263 : the first movies are already viewed
264 : the first movies are already viewed
265 : the first movies are already viewed
266 : the first movies are already viewed
267 : the first movies are already viewed
395 of 400 in first recommended already seen
269 : the first movies are already viewed
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
ValueError: 8505   NaN
Name: tmdbId, dtype: float64
159 of 229 in first recommended already seen
271 : the first movies are already viewed
27 of 39 in first recommended already seen
71 of 92 in first recommended already seen
274 : the first movies are already viewed
ValueError: 2012-09-29 not in tmdbid list
189 of 202 in first recommended already seen
276 : the first movies are already viewed
28 of 58 in first recommended already seen
278 : the first movies are already viewed
279 : the first movies are already viewed
280 : the first movies are already viewed
281 : the first movies are already viewed
282 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
188 of 189 in first recommended already seen
284 : the first movies are already viewed
415 of 422 in first recommended already seen
286 : the first movies are already viewed
197 of 254 in first recommended already seen
288 : the first movies are already viewed
289 : the first movies are already viewed
65 of 67 in first recommended already seen
291 : the first movies are already viewed
292 : the first movies are already viewed
78 of 79 in first recommended already seen
561 of 947 in first recommended already seen
295 : the first movies are already viewed
296 : the first movies are already viewed
297 : the first movies are already viewed
58 of 75 in first recommended already seen
364 of 367 in first recommended already seen
300 : the first movies are already viewed
301 : the first movies are already viewed
302 : the first movies are already viewed
219 of 223 in first recommended already seen
112 of 113 in first recommended already seen
305 : the first movies are already viewed
470 of 645 in first recommended already seen
307 : the first movies are already viewed
308 : the first movies are already viewed
309 : the first movies are already viewed
310 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
488 of 1019 in first recommended already seen
312 : the first movies are already viewed
300 of 302 in first recommended already seen
18 of 34 in first recommended already seen
315 : the first movies are already viewed
125 of 140 in first recommended already seen
317 : the first movies are already viewed
ValueError: 910   NaN
Name: tmdbId, dtype: float64
58 of 59 in first recommended already seen
319 : the first movies are already viewed
53 of 58 in first recommended already seen
321 : the first movies are already viewed
322 : the first movies are already viewed
323 : the first movies are already viewed
140 of 151 in first recommended already seen
325 : the first movies are already viewed
326 : the first movies are already viewed
327 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
169 of 170 in first recommended already seen
329 : the first movies are already viewed
330 : the first movies are already viewed
24 of 25 in first recommended already seen
332 : the first movies are already viewed
74 of 81 in first recommended already seen
26 of 34 in first recommended already seen
335 : the first movies are already viewed
336 : the first movies are already viewed
337 : the first movies are already viewed
338 : the first movies are already viewed
90 of 105 in first recommended already seen
36 of 39 in first recommended already seen
341 : the first movies are already viewed
186 of 187 in first recommended already seen
343 : the first movies are already viewed
344 : the first movies are already viewed
345 : the first movies are already viewed
325 of 329 in first recommended already seen
18 of 22 in first recommended already seen
348 : the first movies are already viewed
349 : the first movies are already viewed
350 : the first movies are already viewed
351 : the first movies are already viewed
69 of 84 in first recommended already seen
492 of 521 in first recommended already seen
354 : the first movies are already viewed
355 : the first movies are already viewed
356 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
29 of 30 in first recommended already seen
469 of 617 in first recommended already seen
ValueError: 5826   NaN
Name: tmdbId, dtype: float64
44 of 46 in first recommended already seen
360 : the first movies are already viewed
361 : the first movies are already viewed
362 : the first movies are already viewed
ValueError: 607   NaN
Name: tmdbId, dtype: float64
200 of 201 in first recommended already seen
28 of 36 in first recommended already seen
365 : the first movies are already viewed
366 : the first movies are already viewed
367 : the first movies are already viewed
368 : the first movies are already viewed
369 : the first movies are already viewed
370 : the first movies are already viewed
131 of 161 in first recommended already seen
372 : the first movies are already viewed
218 of 219 in first recommended already seen
374 : the first movies are already viewed
375 : the first movies are already viewed
376 : the first movies are already viewed
24 of 25 in first recommended already seen
ValueError: 2012-09-29 not in tmdbid list
126 of 147 in first recommended already seen
379 : the first movies are already viewed
ValueError: 7588   NaN
Name: tmdbId, dtype: float64
ValueError: 8045   NaN
Name: tmdbId, dtype: float64
519 of 1063 in first recommended already seen
ValueError: 607   NaN
Name: tmdbId, dtype: float64
109 of 110 in first recommended already seen
306 of 314 in first recommended already seen
383 : the first movies are already viewed
469 of 485 in first recommended already seen
385 : the first movies are already viewed
386 : the first movies are already viewed
387 : the first movies are already viewed
519 of 792 in first recommended already seen
389 : the first movies are already viewed
390 : the first movies are already viewed
391 : the first movies are already viewed
24 of 25 in first recommended already seen
393 : the first movies are already viewed
203 of 205 in first recommended already seen
395 : the first movies are already viewed
396 : the first movies are already viewed
397 : the first movies are already viewed
398 : the first movies are already viewed
399 : the first movies are already viewed
400 : the first movies are already viewed
401 : the first movies are already viewed
266 of 319 in first recommended already seen
403 : the first movies are already viewed
37 of 38 in first recommended already seen
401 of 412 in first recommended already seen
69 of 73 in first recommended already seen
321 of 323 in first recommended already seen
408 : the first movies are already viewed
409 : the first movies are already viewed
410 : the first movies are already viewed
411 : the first movies are already viewed